mixin assets(assets, picks, includeCheckbox)
	div
		h4 In-Season Free Agent Auction Cash
		p= assets.fa_auction_cash.value
	div
		table
			thead
				th Team
				th Round
				th Notes
			tbody
			-each pick in picks
				tr
					td= pick.original_team
					td= pick.round
					-if(pick.swappable && pick.swapper == pick.original_team)
						td= "Rights to swap with " + pick.swap_team
					-if(pick.swappable && pick.swapper != pick.original_team)
						td= pick.swapper + " has rights to swap picks"