mixin cash(team, cash, config, isTrade)

	table(id='finances_' + team.team
		ondragover="allowDrop(event)" 
		ondrop="dropOutOfTrade(event)")
		thead
			th(style="width:50px") Year
			th(style="width:80px") Type
			th Value
		tbody
			-var count = 0;
			-var draggable = isTrade ? "true" : "false";
			-each c in cash
				-var itemText = "" + team.team + " " + c.year + " " + c.type + " cash";
				-if(config.isKeeperPeriod && c.year == parseInt(config.year) + 1 && c.type == 'MLB')
					-c.value = team.preKeeperCash;
				-if(c.year == parseInt(config.year) && c.type == 'MLB' && !config.isOffseason) {
				-}
				-else
					tr(
						id="" + team.teamId + "_" + c.year + "_" + c.type + "cash"
						itemtext=itemText
						draggable=draggable
						team=team.teamId
						year=c.year
						cashType=c.type
						ondragstart="dragCash(event)"
					)
						td(style="padding-left:12px")
							= c.year
						td
							= c.type
						td(id="" + team.teamId + "_" + c.year + "_" + c.type + "cashValue")
							= c.value