mixin draftPicks(team, picks, teamHash, isTrade)

	include teamLink
	
	table(id='picks_' + team.team)
		thead
			th Year
			th Round
			th Overall
		tbody
			-each p in picks
				-var draggable = isTrade ? "true" : "false";
				-var pickText = teamHash[p.original_team].team + "'s round " + p.round + " pick in " + p.year;
				tr(id="" + p.original_team + p.round + p.year
					draggable=draggable 
					round=p.round 
					year=p.year 
					team=p.team 
					original_team=p.original_team
					ondragstart="drag(event)"
					itemtext=pickText
					)
					td(style="text-align:right")= p.year
					td(style="text-align:right")= p.round
					td(style="text-align:right")
						-if(p.overall != '')
							= p.overall
						-else
							"-"
					-if(p.original_team != p.team)
						td.smallNote
							= "From " 
							mixin teamLink(teamHash[p.original_team], false)
					-if(p.swappable && p.swapper != team.team)
						td.smallNote
							= " "
							mixin teamLink(teamHash[p.swapper], false)
							= " can choose to swap"
					-if(p.swappable && p.swapper == team.team)
						td.smallNote
							= "Can swap with "
							mixin teamLink(teamHash[p.swap_team], false)