mixin playerTable(players, _isHitter)
	- var tableId = _isHitter ? 'freeAgentBatters' : 'freeAgentPitchers';

	-var batterCategories = [];
	-batterCategories.push({ categoryName : 'Name' , width : '40%' });
	-batterCategories.push({ categoryName : 'AB' , width : '10%' });
	-batterCategories.push({ categoryName : 'HR' , width : '10%' });
	-batterCategories.push({ categoryName : 'R' , width : '10%' });
	-batterCategories.push({ categoryName : 'RBI' , width : '10%' });
	-batterCategories.push({ categoryName : 'SB' , width : '10%' });
	-batterCategories.push({ categoryName : 'OBP' , width : '10%' });

	-var pitcherCategories = [];
	-pitcherCategories.push({ categoryName : 'Name' , width : '40%' });
	-pitcherCategories.push({ categoryName : 'IP' , width : '10%' });
	-pitcherCategories.push({ categoryName : 'K' , width : '10%' });
	-pitcherCategories.push({ categoryName : 'WHIP' , width : '10%' });
	-pitcherCategories.push({ categoryName : 'ERA' , width : '10%' });
	-pitcherCategories.push({ categoryName : 'W' , width : '10%' });
	-pitcherCategories.push({ categoryName : 'SV' , width : '10%' });

	table(style="width:100%")
		thead
			-if(_isHitter)
				th(id="cat_pName" style="width:40%;text-align:left") Name
				-each category in batterCategories
					-if(category.categoryName != 'Name')
						-var id = category.categoryId ? category.categoryId : category.categoryName;
						th.stats(id="cat_" + id style="width:"+category.width)
							span= category.categoryName
			-else
				th(id="cat_bName" style="width:40%;text-align:left") Name
				-each category in pitcherCategories
					-if(category.categoryName != 'Name')
						-var id = category.categoryId ? category.categoryId : category.categoryName;
						th.stats(id="cat_" + id style="width:"+category.width)
							span= category.categoryName

	div(style="max-height:500px;overflow-y:scroll;")
		table.faTable.hoverable(id=tableId style="width:100%")
			thead(style="display:none")
				-if(_isHitter)
					-each category in batterCategories
						th(style="width:"+category.width)= category.categoryName
				-else
					-each category in pitcherCategories
						th(style="width:"+category.width)= category.categoryName

			tbody
				-each player in players
					tr
						td(style="width:40%")
							a.name(href="/player/"+player._id style="font-size:20px")= player.name_display_first_last
							span(style="padding-left:10px;font-size:12px")= player.position_txt + " - " + player.team_name
						-if(player.stats[0])
							-if(_isHitter)
								td.stats(style="width:10%")= player.stats[0].ab
								td.stats(style="width:10%")= player.stats[0].hr
								td.stats(style="width:10%")= player.stats[0].r
								td.stats(style="width:10%")= player.stats[0].rbi
								td.stats(style="width:10%")= player.stats[0].sb
								td.stats(style="width:10%")
									-if(player.stats[0].obp >= 0)
										-var formatString = ".000";
										-if(player.stats[0].obp == 1)
											-formatString = "0.000";
										= numeral(player.stats[0].obp).format(formatString)
									-else
										= "-"
							-else
								td.stats(style="width:10%")= player.stats[0].ip
								td.stats(style="width:10%")= player.stats[0].so
								td.stats(style="width:10%")
									-if(player.stats[0].whip >= 0)
										= numeral(player.stats[0].whip).format("0.00")
									-else
										= "-"
								td.stats(style="width:10%")
									-if(player.stats[0].era >= 0)
										= numeral(player.stats[0].era).format("0.00")
									-else
										= "-"
								td.stats(style="width:10%")= player.stats[0].w
								td.stats(style="width:10%")= player.stats[0].sv

mixin playerTable(dbPlayers, isHitter)