mixin player(player, position, includeStatus)
	-if(player != undefined)
		-var history = player.history[player.history_index];
		tr(player_id=player.player_id json=JSON.stringify(player))
			td(style="padding-left:8px")
				-var isMinorLeaguer = history.minor_leaguer;
				-isMinorLeaguer = isMinorLeaguer && (!player.fantasy_position || player.fantasy_position == 'Bench');
				-if(isMinorLeaguer)
					| Minors 
				-else
					-if(player.history_index == 0)
						= player.fantasy_position
					-else
						= history.fantasy_position
			td
				a.name(href="/player/" + player._id)= player.name_display_first_last
			td.number
				-if(!history.minor_leaguer)
					= history.salary
			td.number
				-if(history.contract_year != 0)
					= history.contract_year
			-if(includeStatus)
				td.status
					= player.status_code
				td.status
					= player.fantasy_status_code
			-var isVultured = player.isVultured;
			-var vulturable = player.vulturable;
			-if(vulturable || isVultured)
				-var vulture_string = isVultured ? "Vultured" : "Vulturable";
				-if(user)
					-if(user.team != team.team)
						td
							-if(vulturable)
								a(href="/gm/vulture/" + player.player_id)= vulture_string
							-else
								=vulture_string
					-else
						td
							a.smallNote(href="/gm/vulture")= vulture_string
				-else
					td= vulture_string

	-else
		tr
			td(style="padding-left:8px")= position
			td -
			td
			td
			-if(includeStatus)
				td
				td