mixin projectionTeam(players, includeStatus, config)
	mixin player(player, position)
		-if(player)
			tr
				td= player.history[player.history_index].fantasy_position
				td= player.name_display_first_last
				td= player.history[player.history_index].salary
				td= player.history[player.history_index].contract
		-else
			tr
				td= position
				td= "-"
				td
				td

	-if(config.isKeeperPeriod || config.historicalPage)
		-thisYearSalaryHeader = config.year + " Salary";
		-thisYearContractHeader = config.year + " Contract Year"
	-else
		-thisYearSalaryHeader = "Salary";
		-thisYearContractHeader = "Contract Year";

	table(id='players_' + team.team style="width:100%;border-collapse:collapse;")

		thead
			th.position Position
			th.playerName Name
			th.small= thisYearSalaryHeader
			th.small= thisYearContractHeader
		tbody
			mixin player(players.catchers[0], 'C', includeStatus, config)
			mixin player(players.catchers[1], 'C', includeStatus, config)
			mixin player(players.first_base, '1B', includeStatus, config)
			mixin player(players.second_base, '2B', includeStatus, config)
			mixin player(players.third_base, '3B', includeStatus, config)
			mixin player(players.shortstop, 'SS', includeStatus, config)
			mixin player(players.middle_infield, '2B/SS', includeStatus, config)
			mixin player(players.corner_infield, '1B/3B', includeStatus, config)
			mixin player(players.outfielders[0], 'OF', includeStatus, config)
			mixin player(players.outfielders[1], 'OF', includeStatus, config)
			mixin player(players.outfielders[2], 'OF', includeStatus, config)
			mixin player(players.outfielders[3], 'OF', includeStatus, config)
			mixin player(players.outfielders[4], 'OF', includeStatus, config)
			mixin player(players.utility, 'U', includeStatus, config)
			-var pCount = 0;
			-each pitcher in players.pitchers
				mixin player(pitcher, 'P', includeStatus, config)
				-pCount++;
			-while(pCount < 9) {
				mixin player(null, 'P', includeStatus, config)
				-pCount++;
			-}
			-if(players.dl != undefined)
				-for(var i = 0; i < players.dl.length; i++)
					mixin player(players.dl[i], 'DL', includeStatus, config)
			-if(players.minor_leaguers != undefined)
				-for(var i = 0; i < players.minor_leaguers.length; i++)
					mixin player(players.minor_leaguers[i], 'MIN', includeStatus, config)