mixin stattrackerDiv(previewPlayers, inProgressPlayers, finalPlayers)

	mixin player(player)
		li.playerDiv(data-id=player.player_id)
			-var classString = player.linescore && player.linescore.runner_on_base_status ? "rob_" + player.linescore.runner_on_base_status : "";
			div.stattrackerPlayer.rounded
				div(style="display:inline-block;width:16%")
					img.rounded(style="width:46px;height:69px;margin:5px" src="http://mlb.mlb.com/images/players/mugshot/ph_" + player.player_id + ".jpg")
				div(style="display:inline-block;width:40%")
					span(style="padding-left:10px")= player.name_display_first_last
				div(style="display:inline-block;width:44%")
					-if(player.linescore)
						-var gameState;
						-if(player.linescore.status == "In Progress")
							-gameState = player.linescore.inning_state + " " + player.linescore.inning
							//p= player.linescore.runner_on_base_status
							//img(class=classString)
						-else if(player.linescore.status == "Final" || player.linescore.status == "Game Over")
							-gameState = Final
						-else
							-gameState = player.linescore.time
						div(style="display:inline-block;width:24%")
							div
								span= gameState
						div(style="display:inline-block;width:25%")
							div
								span= player.linescore.away_name_abbrev
							div
								span= player.linescore.away_team_runs
						div(style="display:inline-block;width:26%")
							div
								span= "@"
						div(style="display:inline-block;width:25%")
							div
								span= player.linescore.home_name_abbrev
							div
								span= player.linescore.home_team_runs
						


	div(style="display:inline-block;width:33%;vertical-align:top")
		ul.preview
			-each player in previewPlayers
				mixin player(player)
	div(style="display:inline-block;width:33%;vertical-align:top")
		ul.inProgress
			-each player in inProgressPlayers
				mixin player(player)
	div(style="display:inline-block;width:33%;vertical-align:top")
		ul.final
			-each player in finalPlayers
				mixin player(player)


-if(previewPlayers == undefined && inProgressPlayers == undefined && finalPlayers == undefined)
	mixin stattrackerDiv([], unsortedPlayers, [])
-else
	mixin stattrackerDiv(previewPlayers, inProgressPlayers, finalPlayers)