mixin stattrackerDiv(previewPlayers, inProgressPlayers, finalPlayers)

	mixin player(player)
		-var playerGameOver = player.linescore && (player.linescore.status == "Final" || player.linescore.status == "Game Over");
		li.playerDiv(data-id=player.player_id)
			-var classString = player.linescore && player.linescore.runner_on_base_status ? "rob_" + player.linescore.runner_on_base_status : "";
			div.stattrackerPlayer.rounded
				div.top.stattrackerInnerBox
					div.playerHead(style="display:inline-block;width:46px")
						img.rounded(style="width:46px;height:69px;" src="http://mlb.mlb.com/images/players/mugshot/ph_" + player.player_id + ".jpg")
					div.playerInfo(style="display:inline-block;width:302px")
						div.stattrackerInnerBox
							span(style="font-size:24px" onclick="showBottom('" + player.player_id + "')")= player.name_display_first_last
							span(style="padding-left:5px")= "Due up in: " + player.battersTillUp + " batters"
						div(style="font-size:15px")
							-if(player.linescore)
								-var gameState;
								-if(player.linescore.status == "In Progress")
									-gameState = player.linescore.inning_state + " " + player.linescore.inning
									//p= player.linescore.runner_on_base_status
									//img(class=classString)
								-else if(playerGameOver)
									-gameState = Final
								-else
									-gameState = player.linescore.time
								div
									div(style="display:inline-block;width:24%")
										div
											span= gameState
									div(style="display:inline-block;width:25%")
										div
											span= player.linescore.away_name_abbrev
										div
											span= player.linescore.away_team_runs
									div(style="display:inline-block;width:26%")
										div
											span= "@"
									div(style="display:inline-block;width:25%")
										div
											span= player.linescore.home_name_abbrev
										div
											span= player.linescore.home_team_runs
				-if(player.linescore && (playerGameOver || player.linescore.status == "In Progress") && player.dailyStats.bo)
					div.bottom(style="font-size:15px;display:none")
						div(style="display:inline-block;width:14%")
							div
								span= "H/AB"
							div
								span= player.dailyStats.h + "/" + player.dailyStats.ab
						div(style="display:inline-block;width:14%")
							div
								span= "R"
							div
								span= player.dailyStats.r
						div(style="display:inline-block;width:14%")
							div
								span= "BB"
							div
								span= player.dailyStats.bb
						div(style="display:inline-block;width:14%")
							div
								span= "RBI"
							div
								span= player.dailyStats.rbi
						div(style="display:inline-block;width:14%")
							div
								span= "SB/CS"
							div
								span= player.dailyStats.sb + "/" + player.dailyStats.cs
						div(style="display:inline-block;width:14%")
							div
								span= "HR"
							div
								span= player.dailyStats.hr
						div(style="display:inline-block;width:14%")
							div
								span= "2B/3B"
							div
								span= player.dailyStats.h2b + "/" + player.dailyStats.h3b
						


	div(style="display:inline-block;width:33%;vertical-align:top")
		ul.preview
			-each player in previewPlayers
				mixin player(player)
	div(style="display:inline-block;width:33%;vertical-align:top")
		ul.inProgress
			-each player in inProgressPlayers
				mixin player(player)
	div(style="display:inline-block;width:33%;vertical-align:top")
		ul.final
			-each player in finalPlayers
				mixin player(player)


-if(previewPlayers == undefined && inProgressPlayers == undefined && finalPlayers == undefined)
	mixin stattrackerDiv([], unsortedPlayers, [])
-else
	mixin stattrackerDiv(previewPlayers, inProgressPlayers, finalPlayers)