mixin stattrackerDiv(previewPlayers, inProgressPlayers, finalPlayers)

	mixin player(player)
		li.playerDiv(data-id=player.player_id)
			-var classString = player.linescore && player.linescore.runner_on_base_status ? "rob_" + player.linescore.runner_on_base_status : "";
			div.stattrackerPlayer
				img(style="width:46px;height:69px" src="http://mlb.mlb.com/images/players/mugshot/ph_" + player.player_id + ".jpg")
				span= player.name_display_first_last
				-if(player.battersTillUp >= 0)
					span.battersTillUp= player.battersTillUp
				-if(player.linescore && player.linescore.status == "In Progress")
					p= player.linescore.inning_state + " " + player.linescore.inning
					p= player.linescore.runner_on_base_status
					img(class=classString)


	div(style="display:inline-block;width:33%;vertical-align:top")
		ul.preview
			-each player in previewPlayers
				mixin player(player)
	div(style="display:inline-block;width:33%;vertical-align:top")
		ul.inProgress
			-each player in inProgressPlayers
				mixin player(player)
	div(style="display:inline-block;width:33%;vertical-align:top")
		ul.final
			-each player in finalPlayers
				mixin player(player)


-if(previewPlayers == undefined && inProgressPlayers == undefined && finalPlayers == undefined)
	mixin stattrackerDiv([], unsortedPlayers, [])
-else
	mixin stattrackerDiv(previewPlayers, inProgressPlayers, finalPlayers)