mixin player(player, positionText)
	tr
		td= positionText
		-if(player)
			td
				a.hiddenLink(href="/player/" + player._id)= player.name_display_first_last
			-if(player.game)
				-if(player.game.started)
					-if(player.primary_position != 1)
						-if(player.dailyStats.bo)
							td.right= player.dailyStats.ab
							td.right= player.dailyStats.hr
							td.right= player.dailyStats.r
							td.right= player.dailyStats.rbi
							td.right= player.dailyStats.sb
							td.right
								-if(player.dailyStats.obp >= 0)
									-var formatString = ".000";
									-if(player.dailyStats.obp == 1)
										-formatString = "0.000";
									= numeral(player.dailyStats.obp).format(formatString)
								-else
									= "-"
						-else
							td.center(colspan="6") On the Bench
				-else
					-if(player.primary_position != 1)
						td.center(colspan="6")
							= player.game.awayNameAbbrev + " @ " + player.game.homeNameAbbrev
							= moment(player.game.timeDate).format("h:mm a")
					-else
						-if(player.game.homeProbablePitcherId == player.player_id || player.game.awayProbablePitcherId == player.player_id)
							td.center(colspan="2") Starting Tonight
							td.center(colspan="4")
								= player.game.awayNameAbbrev + " @ " + player.game.homeNameAbbrev
								= moment(player.game.timeDate).format("h:mm a")
						-else
							td.center(colspan="6")
								= player.game.awayNameAbbrev + " @ " + player.game.homeNameAbbrev
								= moment(player.game.timeDate).format("h:mm a")
			-else
				td.right
				td.right
				td.right
				td.right
				td.right
				td.right
		-else
			td.right
			td.right
			td.right
			td.right
			td.right
			td.right

mixin miniPlayer(position, posText, minCount)
	-var count = 0;
	-minCount = minCount != undefined ? minCount : 1;
	-each player in players[position]
		mixin player(player, posText)
		-count++;
	-while(count < minCount) {
		mixin player(null, posText)
		-count++;
	-}

h3 Batters
table(id='batters_todayStats' style="width:100%;border-collapse:collapse;" class="hoverable")
	thead
		th.position Position
		th.playerName Name
		th.small.stats AB
		th.small.stats HR
		th.small.stats R
		th.small.stats RBI
		th.small.stats SB
		th.small.stats OBP

	tbody
		mixin miniPlayer('catchers', 'C', 2)
		mixin miniPlayer('first_base', '1B')
		mixin miniPlayer('second_base', '2B')
		mixin miniPlayer('third_base', '3B')
		mixin miniPlayer('shortstop', 'SS')
		mixin miniPlayer('middle_infield', '2B/SS')
		mixin miniPlayer('corner_infield', '1B/3B')
		mixin miniPlayer('outfielders', 'OF', 5)
		mixin miniPlayer('utility', 'U')
		-each player in players['bench']
			-if(player.primary_position != 1)
				mixin player(player, 'BENCH')
		-each player in players['dl']
			-if(player.primary_position != 1)
				mixin player(player, 'DL')

h3 Pitchers
table(id='pitchers_todayStats' style="width:100%;border-collapse:collapse;" class="hoverable")
	thead
		th.position Position
		th.playerName Name
		th.small.stats W
		th.small.stats K
		th.small.stats WHIP
		th.small.stats ERA
		th.small.stats SV
		th.small.stats IP

	tbody
		mixin miniPlayer('pitchers', 'P', 9)
		-each player in players['bench']
			-if(player.primary_position == 1)
				mixin player(player, 'BENCH')
		-each player in players['dl']
			-if(player.primary_position == 1)
				mixin player(player, 'DL')