extends layout

block inlineScripts
	script.
		var submitPick = function(skip) {
			if(skip) {
				var confirmSkip = confirm("Are you sure you want to skip this pick?");
				if(confirmSkip) {
					pick.skipped = true;
				} else {
					return;
				}
			} else {
				pick.skipped = false;
				var text = $('#draft_text').val();
				if(text.length == 0) {
					alert("Please enter a name or player id");
					return;
				}
				if($('input[name=draft_radio]:checked').val() == 'pid_radio') {
					if(/^\d+$/.test(text) == false) {
						alert("give me a number with pid");
						return;
					}
					pick.player_id = text;
					pick.name_display_first_last = undefined;
				} else {
					pick.player_id = undefined;
					pick.name_display_first_last = text;
				}
			}

			var form = document.createElement("form");
			form.setAttribute("method", "POST");
			form.setAttribute("action", "/gm/draft/pick");
			for(var key in pick) {
				if(pick.hasOwnProperty(key)) {
					var hiddenField = document.createElement("input");
					hiddenField.setAttribute("type", "hidden");
					hiddenField.setAttribute("name", key);
					hiddenField.setAttribute("value", pick[key]);
					form.appendChild(hiddenField);
				}
			}
			document.body.appendChild(form);
			form.submit();
		}

		var dropMinorLeaguer = function(inButton) {
			var button = $(inButton);
			var confirmDrop = confirm("Are you sure you want to drop " + button.attr('player_name'));
			if(confirmDrop) {
				var payload = { player_id : button.attr('player_id'), player_name : button.attr('player_name') };
				$.post("/gm/minorLeaguer/remove", payload, function(response) {
					if(response.result) {
						button.parent().parent().remove();
					} else {
						alert(response.message);
					}
				});
			} else {
				return;
			}
		}

block content
	include partials/teamLink

	h3= draft_message
	-if(user != null && (user.team == current_pick.team || user.role == 'admin'))
		h2 You are currently on the clock!
		h3= "The deadline for your pick is " + current_pick.deadline
		input(type="radio" name="draft_radio" value="pid_radio" checked="true")
		label(for='pid_radio') By MLB Player Id
		br
		input(type="radio" name="draft_radio" value="name_radio")
		label(for='name_radio') By Player Name
		br
		input(id="draft_text" type="text" name="draft_text")

		input(type="button" onclick="submitPick()" value="Draft")

		br

		input(type="button" onclick="submitPick(true)" value="Skip Pick")
	-else
		h3= "Currently on the clock: " + teamHash[current_pick.team].fullName
		p= "Deadline: " + current_pick.deadline

	-if(user != null)
		-var numPicksUntilUserPick = 0;
		-var counter = current_pick.overall - 1;
		-while(picks[counter].team != user.team) {
		-	counter++;
		-	numPicksUntilUserPick++;
		-}
		p= "Number Of Picks Before Your Next Pick: " + numPicksUntilUserPick		

	| <script type='text/javascript'>
	|	var pick = {};
	=	"pick.team='" + current_pick.team + "';"
	=	"pick._id='" + current_pick._id + "';"
	=	"pick.original_team='" + current_pick.original_team + "';"
	=	"pick.overall='" + current_pick.overall + "';"
	=	"pick.round='" + current_pick.round + "';"
	=	"pick.skipped='" + current_pick.skipped + "';"
	=	"pick.year='" + current_pick.year + "';"
	| </script>

	section(id="left" style="width:730px")
		table
			thead
				th
				th Overall
				th Round
				th Team
				th Pick
			tbody
				-each pick in picks
					tr
						td
							-if(current_pick.overall == pick.overall)
								| ->
						td= pick.overall
						td.number= pick.round
						td
							mixin teamLink(teamHash[pick.team], false)
						td
							-if(pick.skipped)
								| --skipped--
							-else
								= pick.name_display_first_last
						-if(pick.swapper)
							-var team_str = pick.swap_team ? pick.swap_team : pick.team;
							td= pick.swapper + " can swap picks this round with " +  team_str
						-if(pick.original_team != pick.team)
							td= "From " + pick.original_team

	section(id="right")
		h3 Minor League Roster
		table
			thead
				th Name
				th.position Position
				th Team
			tbody
			-each player in minorLeaguers
				tr
					td= player.name_display_first_last
					td= player.position_txt
					td= player.team_name
					td
						input(type="submit" value="Drop" player_id=player.player_id player_name=player.name_display_first_last
							onclick="dropMinorLeaguer(this)")
			
