extends layout

block inlineScripts
	script.
		$('#name').on('change', function()
			{
				var val = $(this).val().replace(",","");
				var name = val.split(' ')[1] + " " + val.split(' ')[0];
				var selected = $('#players').find('option[name="' + name + '"]')
				var team = selected.attr('team');
				var player_id = selected.attr('player_id');
				if(!team || team == 'FA' || team == '') {
					$('#team').text(name + ' IS a free agent');
					$('#team').attr('href', '/player/' + player_id);
				} else {
					$('#team').text(name + ' is NOT a free agent, do not pick him up');
					$('#team').attr('href', '/player/' + player_id);
				}
			}
		);

		var dismissNotification = function(notification, id) {
			$(notification).parent().fadeOut();
			$.post("/admin/notification/dismiss/" + id);
			var notificationCount = parseInt($('#notificationHeading').text().split(":")[1]);
			notificationCount--;
			$('#notificationHeading').text('Notifications: ' + notificationCount);
		}
		
		// connect to the socket server
		var socket = io.connect(); 
		// if we get an "info" emit from the socket server then console.log the data we recive
		socket.on('news', function (data) {
			console.log(data);
		});

block content
	include partials/teamLink

	div
		span#pageTitle Homer At The Bat		

	section(id="left" style="width:70%")
		div.widget
			if user != undefined
				h2= "Welcome back, " + user.firstName
				p= messages
			else
				h1 Homer At The Bat
		-if(notifications && notifications.length > 0)
			div.widget(style="display:block")
				h2#notificationHeading= "Notifications: " + notifications.length
				ul
					-each notification in notifications
						li.notification
							p= notification.message
							p(style="color:red" onclick="dismissNotification(this, '" + notification._id + "');") Dismiss

		div.widget
			h2 Important Dates
			ul
				li
					h3 Friday, March 15: Keeper Deadline, "Lock up" Deadline
					ul
						li
							p.longText Select your keepers on this site. Ari will input your selections on the ESPN site.
						li(id="lockUp")
							p.longText "Lock up" rule reminder:
							ul
								li
									p.longText "Locking up" a player buys out the player's remaining keeper years at the current offseason
										| price 
										| (including this offseason's 3 dollar increase)
								li
									p.longText Only players with a salary >= 30 may be locked up
								li
									p.longText "Locked up" players must be selected as a keeper until their keeper eligibility runs out. 
										| If an owner wishes to drop a locked up player, they must pay half of 
										| the locked up player's salary for the length of the locked up contract
								li
									p.longText Trading "locked up" players means also trading the "locked up" player status and remaining years
										| of keeper eligibility
								li
									p.longText Players may only be "locked up" during the offseason


				li
					h3 Saturday, March 22: Major League Draft, 12 pm EST

		-if(false)
			h2 "Can I add player x?"
			label(for='name') Type a name and hit enter!
			input(id="name" type="text" name="name" autocomplete="on" list="players")
			a(id="team")
			div(style="padding-bottom:50px")

			datalist(id="players")
				-each player in players
					-var name = player.name_display_first_last.split(' ')[1] + ', ' + player.name_display_first_last.split(' ')[0];
					-var team = player.history && player.history[0] != undefined ? player.history[0].fantasy_team : ''
					option(name=player.name_display_first_last team=team player_id=player._id)= name

	section(id="right" style="width:30%")
		div.widget(style="display:block")
			h2 2013 Standings
			ol
				-each team in teams
					-if(team.teamId != 0)
						li
							mixin teamLink(team, true)

