extends layout

block inlineScripts
	script.

		$(document).ready(function() {
			if(typeof user !== 'undefined') {
				$.get("/api/schedule/players/" + user.team, function(result) {
					$('#schedule').html(result.html);
				});
			}
		});

		$('#name').on('change', function()
			{
				var val = $(this).val().replace(",","");
				var name = val.split(' ')[1] + " " + val.split(' ')[0];
				var selected = $('#players').find('option[name="' + name + '"]')
				var team = selected.attr('team');
				var player_id = selected.attr('player_id');
				if(!team || team == 'FA' || team == '') {
					$('#team').text(name + ' IS a free agent');
					$('#team').attr('href', '/player/' + player_id);
				} else {
					$('#team').text(name + ' is NOT a free agent, do not pick him up');
					$('#team').attr('href', '/player/' + player_id);
				}
			}
		);

		var dismissNotification = function(notification, id) {
			$(notification).parent().fadeOut();
			$.post("/admin/notification/dismiss/" + id);
			var notificationCount = parseInt($('#notificationHeading').text().split(":")[1]);
			notificationCount--;
			$('#notificationHeading').text('Notifications: ' + notificationCount);
		}
		
		// connect to the socket server
		var socket = io.connect(); 
		// if we get an "info" emit from the socket server then console.log the data we recive
		socket.on('news', function (data) {
			console.log(data);
		});

		var lastSearchTerm;

		var doWork = function(textbox) {
			$('#playerList').html("<img src='/public/ajax-loader.gif' />");
			var text = $(textbox).val();
			lastSearchTerm = text;
			var payload = { text : text };
			$.post('/api/players/filtered/name', payload, function(result) {
				if(result.searchTerm === lastSearchTerm) {
					$('#playerList').html(result.html);
				}
			});			
		}

block content
	include partials/teamLink

	div
		span#pageTitle Homer At The Bat		

	section(id="left" style="width:70%")
		div.widget
			if user != undefined
				h2= "Welcome back, " + user.firstName
				p= messages
			else
				h1 Homer At The Bat
		-if(notifications && notifications.length > 0)
			div.widget(style="display:block")
				h2#notificationHeading= "Notifications: " + notifications.length
				ul
					-each notification in notifications
						li.notification
							p= notification.message
							p(style="color:red" onclick="dismissNotification(this, '" + notification._id + "');") Dismiss

		div.widget
			h2 Important Dates
			ul
				li
					h3 Sunday, March 30th / Monday March 31st: MLB Opening Night / Day

		div.widget#schedule
			-if(user != undefined)
				-showSpinner=true;
			include partials/mlbSchedule

	section(id="right" style="width:30%")
		div.widget(style="display:block")
			h2 2014 Standings
			ol
				-each team in teams
					-if(team.teamId != 0)
						li
							mixin teamLink(team, true)

	| <script type="text/javascript" >
	-if(user != undefined)
		| var user = !{JSON.stringify(user)};
	| </script>

