extends layout

block inlineScripts
	script.
		$('#name').on('change', function()
			{
				var val = $(this).val().replace(",","");
				var name = val.split(' ')[1] + " " + val.split(' ')[0];
				var selected = $('#players').find('option[name="' + name + '"]')
				var team = selected.attr('team');
				if(!team || team == 'FA' || team == '') {
					$('#team').text(name + ' IS a free agent');
				} else {
					$('#team').text(name + ' is NOT a free agent, do not pick him up');
				}
			}
		);

		var dismissNotification = function(notification, id) {
			$(notification).parent().fadeOut();
			$.post("/admin/notification/" + id);
			var notificationCount = parseInt($('#notificationHeading').text().split(":")[1]);
			notificationCount--;
			$('#notificationHeading').text('Notifications: ' + notificationCount);
		}

block content
	include partials/teamLink		

	section(id="top")
		if user != undefined
			h1= "Welcome back, " + user.firstName
			p= messages
		else
			h1 Homer At The Bat

		-if(notifications && notifications.length > 0)
			h3#notificationHeading= "Notifications: " + notifications.length
			ul
				-each notification in notifications
					li.notification
						p= notification.message
						p(onclick="dismissNotification(this, '" + notification._id + "');") Dismiss

	section(id="left")

		h2 "Can I add player x?"
		label(for='name') Type a name and hit enter!
		input(id="name" type="text" name="name" autocomplete="on" list="players")
		p(id="team")

		datalist(id="players")
			-each player in players
				-var name = player.name_display_first_last.split(' ')[1] + ', ' + player.name_display_first_last.split(' ')[0];
				option(name=player.name_display_first_last team=player.fantasy_team)= name

	section(id="right")
		h2 Standings
		ol
			-for(team in teamHash) {
			-	if(teamHash.hasOwnProperty(team)) {
					li
						mixin teamLink(teamHash[team], true)
			-	}
			-}
