doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/public/css/master.css')
		link(rel='icon' href='/public/homerFavicon.ico')
		link(href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css')

		block scripts
			script(type='text/javascript', src='http://code.jquery.com/jquery-latest.min.js')
			//script(type='text/javascript', src='http://code.highcharts.com/highcharts.js')
			script(type='text/javascript', src="http://code.jquery.com/ui/1.10.4/jquery-ui.js")
			script(type='text/javascript', src="/public/jquery.tablesorter.js")
			script(type='text/javascript', src="/public/moment.min.js")
			script(type='text/javascript', src="/socket.io/socket.io.js")
			script(type='text/javascript', src="/public/numeral.min.js")

	body
		block inlineScripts
		div(id="wrapper")
			div.header
				div
					ul
						li
							a(href="/")
								= "Home "
								-if(globalNotifications)
									span= " " + globalNotifications
						-if(user == null)
							li
								a(href="/login") Login
						-else
							li
								a(href="/team/"+user.team) My Team
							li
								a(href="/player") Players
							-if(envConfig.isTradingOn)
								li
									a(href="/trade")
										= "Trade "
										-if(tradeNotifications)
											span= " " + tradeNotifications	
							li
								a(href="/gm/vulture")
									= "Vulture "
									-if(vultureNotifications)
										span= " " + vultureNotifications
							li(style="min-width:100px")
								a(href="/gm/faa")
									= "Free Agent Auction "
									-if(freeAgentNotifications)
										span= " " + freeAgentNotifications
							li
								a(href="/gm/watchlist") Watchlist
							li
								a(href="/profile") Profile
							li
								a(href="/logout") Logout
						-if(user != null && user.role == 'admin') 
							li
								a(href="/gm/draft") Draft
							li
								a(href="/admin") Admin
				div(style="display:none")
					ul
						-var count = 1;
						li
							a(href="#") Standings:
						-each team in teams
							-if(team.teamId != 0)
								li
									a(href="/team/" + team.teamId title=team.fullName)= count + ". " + team.team
									-count++;
			
			-if(message && message != "")
				-if(message.length == 1)
					-if(message[0].isSuccess)
						div#messageBox
							block messages
								p= message[0].message
					-else
						div.fail#messageBox
							block messages
								p= message[0].message
				-else
					div#messageBox
						block messages
							p= message[0].message
				
			div(id="core" class="clearfix")
				block content
