extends layout

block inlineScripts
	script.

		//START
		//Helper
		var showLoader = function(objId) {
			$('#' + objId).html("<img src='/public/ajax-loader.gif' />");
		}
		//Helper
		//END

		//START
		//Search By Name
		var lastSearchTerm;
		var getListFromServer_2 = function(text) {
			lastSearchTerm = text;
			var payload = { text : text };
			$.post('/api/players/filtered/name', payload, function(result) {
				if(result.searchTerm === lastSearchTerm) {
					$('#playerList').html(result.html);
				}
			});
		}
		var textboxChanged_2 = function(textbox) {
			showLoader('playerList');
			var text = $(textbox).val();
			getListFromServer_2(text);
		}
		var showAllPlayers_2 = function() {
			showLoader('playerList');
			getListFromServer_2('');
		}
		//Search By Name
		//END

		//START
		//Grid

		var setupTablesorter = function() {
			$.tablesorter.addParser({ 
				id: 'zeroReplaceHigh', 
				is: function(s) { 
					return false; 
				},
				format: function(s) {
					return s.replace(/-/,10000);
				},
				type: 'numeric'
			});
			$.tablesorter.addParser({ 
				id: 'zeroReplaceLow', 
				is: function(s) { 
					return false; 
				},
				format: function(s) {
					return s.replace(/-/,-10000);
				},
				type: 'numeric'
			});

			$("#freeAgentBatters").tablesorter({
				headers : {
					6 : {
						sorter : 'zeroReplaceLow'
					}
				}
			}); 
			$("#freeAgentPitchers").tablesorter({
				headers : {
					3 : {
						sorter : 'zeroReplaceHigh'
					},
					4: {
						sorter : 'zeroReplaceHigh'
					}
				}
			});
		}
		
		var getDataWithPayload = function(payload) {
			showLoader('fabContainer');
			showLoader('fapContainer');

			$.post('/api/players/screen', payload, function(result) {
				$("#fabContainer").html(result.batterHtml);
				$("#fapContainer").html(result.pitcherHtml);

				setupTablesorter();

				var categories = [
					{ id : "bName", column : 0, descending: 0 },
					{ id : "AB", column : 1, descending: 1 },
					{ id : "HR", column : 2, descending: 1 },
					{ id : "R", column : 3, descending: 1 },
					{ id : "RBI", column : 4, descending: 1 },
					{ id : "SB", column : 5, descending: 1 },
					{ id : "OBP", column : 6, descending: 1 },
					
					{ id : "pName", column : 0, descending: 0 },
					{ id : "IP", column : 1, descending: 1 },
					{ id : "K", column : 2, descending: 1 },
					{ id : "WHIP", column : 3, descending: 0 },
					{ id : "ERA", column : 4, descending: 0 },
					{ id : "W", column : 5, descending: 1 },
					{ id : "SV", column : 6, descending: 1 }
				];

				categories.forEach(function(c) {
					$("#cat_" + c.id + " span").click(function() { 
						var sorting = [[c.column, c.descending]];
						$("#freeAgent" + payload.id).trigger("sorton",[sorting]);
						return false; 
					});
				});

			});
		}

		var initPayload = function() {
			var payload = {};
			payload.forceStats = true;
			if($(".facb:visible").is(':checked')) {
				payload.fantasy_team = 0;
			}
			return payload;
		}

		var addCategories = function(payload) {
			var categories = $('[id^="categorySelect_"]:visible');
			var legalCategories = true;

			categories.each(function(index, cat) {
				var category = {}
				category.name = $(cat).find('select[name="category"]').val();
				category.gtLt = $(cat).find('select[name="gtLt"]').val();
				var value = $(cat).find('input').val();
				if(!category.name || !category.gtLt || !value || isNaN(value)) {
					legalCategories = false;
				}
				category.value = value;
				if(!payload.categories) {
					payload.categories = [];
				}
				payload.categories.push(category);
			});
			if(!legalCategories) {
				alert("One or more categories is illegal. Please fix before continuing");
				return;
			}

			console.log(payload);
			getDataWithPayload(payload);
		}

		var filterPitcherData = function() {
			var payload = initPayload();
			payload.positions = [1];
			payload.id = 'Pitchers';
			payload = addCategories(payload);
		}

		var filterBatterData = function() {
			var payload = initPayload();
			var positions = [];
			$('.posCb:checked').each(function(index, cb) {
				$(cb).val().split(',').forEach(function(pos) {
					positions.push(pos);
				});
			});
			payload.positions = positions;
			payload.id = 'Batters';
			payload = addCategories(payload);
		}

		$(document).ready(function() {

			$('#battersTab').on('click', function() {
				$('#batterCategories').show();
				$('#pitcherCategories').hide();

				$('#batterFilters').show();

				filterBatterData();
			});

			$('#pitchersTab').on('click', function() {
				$('#pitcherCategories').show();
				$('#batterCategories').hide();

				$('#batterFilters').hide();

				filterPitcherData();
			});

			$('#screenBatterButton').on('click', function() {
				filterBatterData();
			});

			$('#screenPitcherButton').on('click', function() {
				filterPitcherData();
			});

			getDataWithPayload({ fantasy_team : 0, forceStats: true, id: 'Batters' });

			$('#tabs').tabs();

			var categoryButtonCount = 0;
			$('#addBatterCategories').on('click', function() {
				var newSelect = $('#batterCategories #dummy').clone();
				newSelect.css('display','block');
				newSelect.attr('id', 'categorySelect_' + categoryButtonCount);
				categoryButtonCount++;
				$('#addBatterCategories').after(newSelect);
				$(newSelect).find('input:button').on('click', function(event) {
					$(event.target).parent().remove();
				});
			});
			$('#addPitcherCategories').on('click', function() {
				var newSelect = $('#pitcherCategories #dummy').clone();
				newSelect.css('display','block');
				newSelect.attr('id', 'categorySelect_' + categoryButtonCount);
				categoryButtonCount++;
				$('#addPitcherCategories').after(newSelect);
				$(newSelect).find('input:button').on('click', function(event) {
					$(event.target).parent().remove();
				});
			});

			$('#batterCategories').show();
			$('#pitcherCategories').hide();
		});

block content

	section(id="top")
		span#pageTitle Players
	section(id="left" style="width:100%")
		div(style="width:67%;display:inline-block;vertical-align:top")
			div.widget
				div#tabs
					ul(style="-webkit-padding-start: 0px;")
						li(style="display:table-cell;font-size:30px;padding-right:30px")
							div
								a#battersTab.hiddenLink(href="#batters") Batters
						li(style="display:table-cell;font-size:30px")
							div
								a#pitchersTab.hiddenLink(href="#pitchers") Pitchers
					h3 Filters
					
					//Filter Buttons
					mixin filterButton(id, text, value)
						div(style="display:inline-block;width:16.667%")
							label.posCb(for=id style="width:80%")= text
							input.posCb(id=id type="checkbox" checked="checked" value=value)

					//Filter Categories
					mixin categorySelect(categories)
						div#dummy(style="display:none")
							select(name="category")
								option
								-each c in categories
									-var value = c.toLowerCase();
									option(value=value)= c
							select(name="gtLt")
								option
								option(value="1") >=
								option(value="0") =<
							input(type="number")
							input(type="button" value="Remove Stat Filter")

					div#batterCategories(style="width:100%")
						label(for="facbb") Free Agents
						input.facb#facbb(type="checkbox" checked="checked")
						div#batterFilters(style="width:100%")
							mixin filterButton("catcher_cb", "Catcher", 2)
							mixin filterButton("first_cb", "First Base", 3)
							mixin filterButton("second_cb", "Second Base", 4)
							mixin filterButton("third_cb", "Third Base", 5)
							mixin filterButton("shortstop_cb", "Shortstop", 6)
							mixin filterButton("outfielder_cb", "Outfielder", "7,8,9")
						-var categories = ['AB','HR','R','RBI','SB','OBP'];
						input#addBatterCategories(type="button" value="Add Stat Filter")
						mixin categorySelect(categories)
						div
							input#screenBatterButton(type="button" value="Go!")
					div#pitcherCategories(style="width:100%")
						label(for="facbp") Free Agents
						input.facb#facbp(type="checkbox" checked="checked")
						-var categories = ['IP','SO','WHIP','ERA','W','SV'];
						div
							input#addPitcherCategories(type="button" value="Add Stat Filter")
						mixin categorySelect(categories)
						div
							input#screenPitcherButton(type="button" value="Go!")

					div#batters(style="vertical-align:top")
						div#fabContainer
					div#pitchers(style="vertical-align:top")
						div#fapContainer

		div(style="width:33%;display:inline-block;vertical-align:top")
			div.widget
				h2 Search By Name
				p (Hint: If the search looks wrong, hit enter)
				input(type="button" value="Show All Players" onclick="showAllPlayers_2()" style="margin-bottom:15px")
				input(id="filterBox" type="text" style="width:75%" onkeyup="textboxChanged_2(this)")
				div#playerList
					
		div
			-if(user && user.role == 'admin')
				div(style="width:50%;display:inline-block;vertical-align:top")
					div.widget
						h2 Players Missing ESPN Id's
						table
							-each player in playersMissingESPN
								-if(player.history[0] && player.history[0].fantasy_team != 0)
									tr
										td
											a.name(href="/player/"+player._id)= player.name_display_first_last
										td= player.espn_player_name
										td= teams[player.history[0].fantasy_team].fullName
										td
											a.name(href="/admin/player/" + player._id)= "Admin"