extends layout

block inlineScripts
	script.
		var lastSearchTerm;

		var getListFromServer = function(text) {
			lastSearchTerm = text;
			var payload = { text : text };
			$.post('/api/players/filtered/name', payload, function(result) {
				if(result.searchTerm === lastSearchTerm) {
					$('#playerList').html(result.html);
				}
			});
		}

		var textboxChanged = function(textbox) {
			$('#playerList').html("<img src='/public/ajax-loader.gif' />");
			var text = $(textbox).val();
			getListFromServer(text);
		}

		var showAllPlayers = function() {
			$('#playerList').html("<img src='/public/ajax-loader.gif' />");
			getListFromServer('');
		}

		$(document).ready(function() {
			var options = { widgetOptions: { stickyHeaders : '', stickyHeaders_attachTo : '.widget' }};
			$("#freeAgentBatters").tablesorter(options); 
			$("#freeAgentPitchers").tablesorter(); 
		});

block content

	section(id="top")
		span#pageTitle Players
	section(id="left" style="width:100%")
		div(style="width:34%;display:inline-block;vertical-align:top")
			div.widget
				h2 Search By Name
				p (Hint: If the search looks wrong, hit enter)
				input(type="button" value="Show All Players" onclick="showAllPlayers()" style="margin-bottom:15px")
				input(id="filterBox" type="text" style="width:75%" onkeyup="textboxChanged(this)")
				div#playerList
		div(style="width:33%;display:inline-block;vertical-align:top")
			div.widget
				h2 Free Agent Batters - 2014 Stats
				p (Hint: Click Column Header to Sort)
				div(style="max-height:500px;overflow-y:scroll;")
					table#freeAgentBatters
						thead
							th Name
							th AB
							th HR
							th R
							th RBI
							th SB
							th OBP
						tbody
							-each player in freeAgentBatters
								tr
									td
										a.name(href="/player/"+player._id)= player.name_display_first_last
									-if(player.stats[0])
										td= player.stats[0].ab
										td= player.stats[0].hr
										td= player.stats[0].r
										td= player.stats[0].rbi
										td= player.stats[0].sb
										td= player.stats[0].obp
		div(style="width:33%;display:inline-block;vertical-align:top")
			div.widget
				h2 Free Agent Pitchers - 2014 Stats
				p (Hint: Click Column Header to Sort)
				div(style="max-height:500px;overflow-y:scroll;")
					table#freeAgentPitchers
						thead
							th Name
							th IP
							th K
							th WHIP
							th ERA
							th W
							th SV
						tbody
							-each player in freeAgentPitchers
								tr
									td
										a.name(href="/player/"+player._id)= player.name_display_first_last
									-if(player.stats[0])
										td= player.stats[0].ip
										td= player.stats[0].so
										td= player.stats[0].whip
										td= player.stats[0].era
										td= player.stats[0].w
										td= player.stats[0].sv
		div
			-if(user && user.role == 'admin')
				div(style="width:50%;display:inline-block;vertical-align:top")
					div.widget
						h2 Players Missing ESPN Id's
						table
							-each player in playersMissingESPN
								tr
									td
										a.name(href="/player/"+player._id)= player.name_display_first_last
									td= player.espn_player_name
									td
										a.name(href="/admin/player/" + player._id)= "Admin"