extends layout

block inlineScripts
	script.
		var lastSearchTerm;

		var getListFromServer = function(text) {
			lastSearchTerm = text;
			var payload = { text : text };
			$.post('/api/players/filtered/name', payload, function(result) {
				if(result.searchTerm === lastSearchTerm) {
					$('#playerList').html(result.html);
				}
			});
		}

		var textboxChanged = function(textbox) {
			$('#playerList').html("<img src='/public/ajax-loader.gif' />");
			var text = $(textbox).val();
			getListFromServer(text);
		}

		var showAllPlayers = function() {
			$('#playerList').html("<img src='/public/ajax-loader.gif' />");
			getListFromServer('');
		}

		var getDataWithPayload = function(payload) {
			$('#fabContainer').html("<img src='/public/ajax-loader.gif' />");
			$('#fapContainer').html("<img src='/public/ajax-loader.gif' />");
			$.post('/api/players/screen', payload, function(result) {
				$("#fabContainer").html(result.batterHtml);
				$("#fapContainer").html(result.pitcherHtml);

				var options = { 
					widgetOptions : { stickyHeaders : '', stickyHeaders_attachTo : '.widget' },
					sortList : [[2,1],[0,1],[1,1],[3,1]]
				};
				$("#freeAgentBatters").tablesorter(options); 
				$("#freeAgentPitchers").tablesorter(options);
			});
		}

		$(document).ready(function() {

			$('#battersTab').on('click', function() {
				$('.posCb').show();
			});

			$('#pitchersTab').on('click', function() {
				$('.posCb').hide();
			});

			$('#screenButton').on('click', function(event) {
				var payload = {};
				payload.forceStats = true;
				if($("#facb").is(':checked')) {
					payload.fantasy_team = 0;
				}
				var positions = [];
				$('.posCb:checked').each(function(index, cb) {
					$(cb).val().split(',').forEach(function(pos) {
						positions.push(pos);
					});
				});
				payload.positions = positions;
				console.log(payload);
				getDataWithPayload(payload);
			});

			getDataWithPayload({ fantasy_team : 0, forceStats: true });

			$('#tabs').tabs();

			$("#ariLink").click(function() { 
				var sorting = [[1,1]];
				$("#freeAgentBatters").trigger("sorton",[sorting]); 
				return false; 
			});
		});

block content

	section(id="top")
		span#pageTitle Players
	section(id="left" style="width:100%")
		p#ariLink= "ari"
		div#tabs(style="width:67%;display:inline-block;vertical-align:top")
			ul
				li(style="display: table-cell;padding:5px")
					a#battersTab.hiddenLink(href="#batters") Batters
				li(style="display: table-cell;padding:5px")
					a#pitchersTab.hiddenLink(href="#pitchers") Pitchers
			
			label(for="facb") Free Agents
			input#facb(type="checkbox" checked="checked")
			label.posCb(for="catcher_cb") Catch
			input.posCb#catcher_cb(type="checkbox" checked="checked" value="2")
			label.posCb(for="first_cb") First Base
			input.posCb#first_cb(type="checkbox" checked="checked" value="3")
			label.posCb(for="second_cb") Second Base
			input.posCb#second_cb(type="checkbox" checked="checked" value="4")
			label.posCb(for="third_cb") Third Base
			input.posCb#third_cb(type="checkbox" checked="checked" value="5")
			label.posCb(for="short_facb") Shortstop
			input.posCb#short_facb(type="checkbox" checked="checked" value="6")
			label.posCb(for="of_facb") Outfielder
			input.posCb#of_facb(type="checkbox" checked="checked" value="7,8,9")
			input#screenButton(type="button" value="Go!")

			div#batters(style="vertical-align:top")
				div.widget
					h2 Batters - 2014 Stats
					p (Hint: Click Column Header to Sort)
					div#fabContainer(style="max-height:500px;overflow-y:scroll;")
						
			div#pitchers(style="vertical-align:top")
				div.widget
					h2 Pitchers - 2014 Stats
					p (Hint: Click Column Header to Sort)
					div#fapContainer(style="max-height:500px;overflow-y:scroll;")

		div(style="width:33%;display:inline-block;vertical-align:top")
			div.widget
				h2 Search By Name
				p (Hint: If the search looks wrong, hit enter)
				input(type="button" value="Show All Players" onclick="showAllPlayers()" style="margin-bottom:15px")
				input(id="filterBox" type="text" style="width:75%" onkeyup="textboxChanged(this)")
				div#playerList
					
		div
			-if(user && user.role == 'admin')
				div(style="width:50%;display:inline-block;vertical-align:top")
					div.widget
						h2 Players Missing ESPN Id's
						table
							-each player in playersMissingESPN
								-if(player.history[0] && player.history[0].fantasy_team != 0)
									tr
										td
											a.name(href="/player/"+player._id)= player.name_display_first_last
										td= player.espn_player_name
										td= teams[player.history[0].fantasy_team].fullName
										td
											a.name(href="/admin/player/" + player._id)= "Admin"