extends layout

block content
	include partials/teamLink

	div
		span#pageTitle
			a.hiddenLink(href="http://mlb.mlb.com/team/player.jsp?player_id=" + player.player_id)= player.name_display_first_last
		-if(user && user.role == 'admin')
			a(href="/admin/player/" + player._id) Admin

	section(id="top")
		h3(style="padding:8px;margin:8px")= player.position_txt + " - " + player.team_name

	section(id="left" style="width:50%")
		div(style="padding:8px;margin:8px")
			img(src="http://mlb.mlb.com/images/players/525x330/" + player.player_id + ".jpg")

		div(style="width:100%")
			div.widget
				h3
					| Current Team: 
					mixin teamLink(teamHash[player.history[0].fantasy_team], true)

				-if(player.history[0].locked_up)
					-var contractYear = player.history[0].contract_year
					-var lockedUpThrough = config.year;
					-while(contractYear < 3) {
						-lockedUpThrough++;
						-contractYear++;
					-}
					p= "Locked up through " + lockedUpThrough

	section(id="right" style="width:50%")
		div(style="width:100%")
			div.widget
				h2 Fantasy History
				table.hoverable(style="width:100%")
					thead
						th Year
						th Draft Team
						th Keeper Team
						th Current Team
						th Salary
						th Contract Year
					tbody
						-each year in player.history
							-if(year.year != config.nextYear)
								tr
									td= year.year
									td
										-if(year.draft_team == undefined || year.draft_team == '')
											| -
										-else
											mixin teamLink(teamHash[year.draft_team], false)
									td
										-if(year.keeper_team == undefined || year.keeper_team == '')
											| - 
										-else
											mixin teamLink(teamHash[year.keeper_team], false)
									td
										-if(year.fantasy_team == undefined)
											| -
										-else
											mixin teamLink(teamHash[year.fantasy_team], false)
									td.number
										= year.salary == 0 ? "-" : year.salary
									td.number
										= year.contract_year == 0 || year.contract_year == undefined ? "-" : year.contract_year
									-if(year.minor_leaguer)
										td
											| Minor Leaguer

		div.widget
			h2 Stats
			table.hoverable.stats(style="width:100%")
				thead
					th Year
					-if(isHitter)
						th AB
						th HR
						th R
						th RBI
						th SB
						th OBP
					-else
						th W
						th K
						th WHIP
						th ERA
						th SV
						th IP
					tbody
						-each stat in player.stats
							tr
								td= stat.year
								-if(isHitter)
									td= stat.ab
									td= stat.hr
									td= stat.r
									td= stat.rbi
									td= stat.sb
									td
										-if(stat.obp >= 0)
											-var formatString = ".000";
											-if(stat.obp == 1)
												-formatString = "0.000";
											= numeral(stat.obp).format(formatString)
										-else
											= "-"
								-else
									td= stat.w
									td= stat.so
									td= stat.whip
									td= stat.era
									td= stat.sv
									td= stat.ip