extends layout

block inlineScripts
	script.
		$(function() {
			$('#playerStatsByDate').html("<img src='/public/ajax-loader.gif' />");
			$('#playerStatsByTeam').html("<img src='/public/ajax-loader.gif' />");
			$.get("/api/player/gameLog/" + player._id, function(response) {
				if(response.playerStatByDateHtml) {
					$('#playerStatsByDate').html(response.playerStatByDateHtml);
				} else {
					$('#teamByDateWidget').remove();
				}
				if(response.playerStatByTeamHtml) {
					$('#playerStatsByTeam').html(response.playerStatByTeamHtml);
				} else {
					$('#statByTeamWidget').remove();
				}
			});

			$('#minorLeagueStats').html("<img src='/public/ajax-loader.gif' />");
			$.get("/api/player/milb/" + player._id, function(response) {
				if(response.html) {
					$('#minorLeagueStats').html(response.html);
					var playerImg = $('#playerImg');
					if(playerImg.attr('src') == "/public/ajax-loader.gif") {
						playerImg.attr('src', "http://www.milb.com/images/" + player.player_id + "/t" + response.bio.team_id + "/180x270/" + player.player_id + ".jpg");
					}
				} else {
					$('#minorLeagueWidget').remove();
				}
			});
		});

		function imgError(image) {
			image.onerror = "";
			image.src = "/public/ajax-loader.gif";
			return true;
		}

block content
	include partials/teamLink

	div
		span#pageTitle
			a.hiddenLink(href="http://mlb.mlb.com/team/player.jsp?player_id=" + player.player_id)= player.name_display_first_last
		span.unselectable(style="padding-left:10px")= player.position_txt
		span.unselectable(style="padding-left:10px") |
		span.unselectable(style="padding-left:10px")= player.team_name
		-if(user && user.role == 'admin')
			span.unselectable(style="padding-left:10px") |
			span.unselectable(style="padding-left:10px")
				a(href="/admin/player/" + player._id) Admin

	section(id="left" style="width:50%")
		div(style="padding:8px;margin:8px;text-align:center")
			img#playerImg.rounded(onerror="imgError(this);" src="http://mlb.mlb.com/images/players/525x330/" + player.player_id + ".jpg")

		div(style="width:100%")
			div.widget
				h3
					| Current Team: 
					mixin teamLink(teamHash[player.history[0].fantasy_team], true)

				-if(player.history[0].locked_up)
					-var contractYear = player.history[0].contract_year
					-var lockedUpThrough = config.year;
					-while(contractYear < 3) {
						-lockedUpThrough++;
						-contractYear++;
					-}
					p= "Locked up through " + lockedUpThrough

		div(style="width:100%")
			div.widget#minorLeagueWidget
				h2
					a.hiddenLink(target="blank" href="http://www.milb.com/milb/stats/stats.jsp?sid=milb&t=p_pbp&pid=" + player.player_id) Minor League Stats
				div#minorLeagueStats(style="width:100%")

	section(id="right" style="width:50%")
		div(style="width:100%")
			div.widget
				h2 Fantasy History
				table.hoverable(style="width:100%")
					thead
						th Year
						th Draft Team
						th Keeper Team
						th Current Team
						th Salary
						th Contract Year
					tbody
						-each year in player.history
							-if(year.year != config.nextYear)
								tr
									td= year.year
									td(style="text-align:center")
										-if(year.draft_team == undefined || year.draft_team == '')
											| -
										-else
											mixin teamLink(teamHash[year.draft_team], false)
									td(style="text-align:center")
										-if(year.keeper_team == undefined || year.keeper_team == '')
											| - 
										-else
											mixin teamLink(teamHash[year.keeper_team], false)
									td(style="text-align:center")
										-if(year.fantasy_team == undefined)
											| -
										-else
											mixin teamLink(teamHash[year.fantasy_team], false)
									td.number
										= year.salary == 0 ? "-" : year.salary
									td.number
										= year.contract_year == 0 || year.contract_year == undefined ? "-" : year.contract_year
									-if(year.minor_leaguer)
										td
											| Minor Leaguer

		div.widget
			h2 Season Stats
			table.hoverable(style="width:100%")
				thead
					th(style="text-align:left;width:150px") Year
					-if(isHitter)
						th.stats AB
						th.stats HR
						th.stats R
						th.stats RBI
						th.stats SB
						th.stats OBP
					-else
						th.stats W
						th.stats K
						th.stats WHIP
						th.stats ERA
						th.stats SV
						th.stats IP
					tbody
						-each stat in player.stats
							tr
								td= stat.year
								-if(isHitter)
									td.stats= stat.ab
									td.stats= stat.hr
									td.stats= stat.r
									td.stats= stat.rbi
									td.stats= stat.sb
									td.stats
										-if(stat.obp >= 0)
											-var formatString = ".000";
											-if(stat.obp == 1)
												-formatString = "0.000";
											= numeral(stat.obp).format(formatString)
										-else
											= "-"
								-else
									td.stats= stat.w
									td.stats= stat.so
									td.stats
										-if(stat.whip >=0)
											= stat.whip
										-else
											= "-"
									td.stats
										-if(stat.era >= 0)
											= stat.era
										-else
											= "-"
									td.stats= stat.sv
									td.stats= stat.ip

		div.widget#statByTeamWidget
			h2 Stats By Team
			div#playerStatsByTeam

	div(style="width:100%;display:inline-block")
		div.widget#teamByDateWidget
			h2 Team By Date
			div#playerStatsByDate

	| <script type="text/javascript" >
	| var player = !{JSON.stringify(player)};
	| </script>