extends layout

block inlineScripts
	script.

block content
	include tables/keeperRoster

	section(id="top")
		div
			span#pageTitle= team.fullName

	div(style="position:relative")
		div#left(style="width:85%;display:inline-block;vertical-align:top;position:absolute")
			div(style="width:100%")
				div.widget#rosterWidget
					mixin keeperRoster(players, config)


		div#right(style="width:15%;display:inline-block;vertical-align:top;position:absolute;right:0")

		| <script type="text/javascript" >
		| var isTeamOwner = !{user != undefined && user.team == team.teamId};
		| var team = !{JSON.stringify(team)};
		| var teamHash = !{JSON.stringify(teamHash)};
		| </script>

	
		div
			div.widget
				p= "Reminder: Max contract year's allowed is 3. After that the player must re-enter the draft."