extends layout

block inlineScripts
	script.
		$(function() {
			$('#stats').tablesorter({
				sortInitialOrder: 'desc',
				sortOrderMap: { 13: 'asc', 16: 'asc', 19: 'asc', 20: 'asc' }
			});
			$('#points').tablesorter({
				sortInitialOrder: 'desc'
			});
		});

		var submitStandings = function() {
			var form = document.createElement("form");
			form.setAttribute("method", "POST");
			form.setAttribute("action", "/standings");
			var battingCBs = $('input[batting="1"]:checked');
			var pitchingCBs = $('input[batting="0"]:checked');
			var battingCategories = "";
			var pitchingCategories = "";
			for(var i = 0; i < battingCBs.length; i++) {
				var category = $(battingCBs[i]).attr('category');
				battingCategories += category;
				if(i != battingCBs.length - 1) {
					battingCategories += ",";
				}
			}
			for(var i = 0; i < pitchingCBs.length; i++) {
				var category = $(pitchingCBs[i]).attr('category');
				pitchingCategories += category;
				if(i != pitchingCBs.length - 1) {
					pitchingCategories += ",";
				}	
			}
			var beginDate = $('input[type="date"][name="begin"]').val();
			var endDate = $('input[type="date"][name="end"]').val();
			if(beginDate.length > 0) {
				var hiddenField = document.createElement("input");
				hiddenField.setAttribute("type", "hidden");
				hiddenField.setAttribute("name", "beginDate");
				hiddenField.setAttribute("value", beginDate);
				form.appendChild(hiddenField);
			}
			if(endDate.length > 0) {
				var hiddenField = document.createElement("input");
				hiddenField.setAttribute("type", "hidden");
				hiddenField.setAttribute("name", "endDate");
				hiddenField.setAttribute("value", endDate);
				form.appendChild(hiddenField);
			}
			var hiddenField = document.createElement("input");
			hiddenField.setAttribute("type", "hidden");
			hiddenField.setAttribute("name", "battingCategories");
			hiddenField.setAttribute("value", battingCategories);
			form.appendChild(hiddenField);	
			hiddenField = document.createElement("input");
			hiddenField.setAttribute("type", "hidden");
			hiddenField.setAttribute("name", "pitchingCategories");
			hiddenField.setAttribute("value", pitchingCategories);
			form.appendChild(hiddenField);	
			document.body.appendChild(form);
			form.submit();
		}

block content

	include partials/teamLink

	span#pageTitle Standings
	span.unselectable(style="padding-left:10px")= "Last Updated: " + moment(teamsWithPoints[0].stats.lastUpdated).format('MMMM Do YYYY, h:mm:ss a')
	div.widget
		h2 Stats
		| Begin: 
		input(type="date" name="begin")
		| End:
		input(type="date" name="end")
		input(type="button" onclick="submitStandings()" value="Customize Standings")
		form(method="GET" action="/standings/default")
			input(type="submit" value="Return to Default")
		p= dates.beginDate
		p= dates.endDate
		table.hoverable#stats(style="width:100%")
			thead
				th.sortableHeader(style="text-align:left")
					span Team
				th.sortableHeader(style="text-align:right")
					input(type="checkbox" checked=includedCategories['ab'] batting="1" category="ab")
					span AB
				th.sortableHeader(style="text-align:right")
					input(type="checkbox" checked=includedCategories['h'] batting="1" category="h")
					span H
				th.sortableHeader(style="text-align:right")
					input(type="checkbox" checked=includedCategories['h2b'] batting="1" category="h2b")
					span 2B
				th.sortableHeader(style="text-align:right")
					input(type="checkbox" checked=includedCategories['h3b'] batting="1" category="h3b")
					span 3B
				th.sortableHeader(style="text-align:right")
					input(type="checkbox" checked=includedCategories['hr'] batting="1" category="hr")
					span HR
				th.sortableHeader(style="text-align:right")
					input(type="checkbox" checked=includedCategories['r'] batting="1" category="r")
					span R
				th.sortableHeader(style="text-align:right")
					input(type="checkbox" checked=includedCategories['rbi'] batting="1" category="rbi")
					span RBI
				th.sortableHeader(style="text-align:right")
					input(type="checkbox" checked=includedCategories['sb'] batting="1" category="sb")
					span SB
				th.sortableHeader(style="text-align:right")
					input(type="checkbox" checked=includedCategories['cs'] batting="1" category="cs")
					span CS
				th.sortableHeader(style="text-align:right")
					input(type="checkbox" checked=includedCategories['sbp'] batting="1" category="sbp")
					span SB%
				th.sortableHeader(style="text-align:right")
					input(type="checkbox" checked=includedCategories['obp'] batting="1" category="obp")
					span OBP
				th.sortableHeader(style="text-align:right")
					input(type="checkbox" checked=includedCategories['ip'] batting="0" category="ip")
					br
					span IP
				th.sortableHeader(style="text-align:right")
					input(type="checkbox" checked=includedCategories['er'] batting="0" category="er")
					span ER
				th.sortableHeader(style="text-align:right")
					input(type="checkbox" checked=includedCategories['goao'] batting="0" category="goao")
					span GO/AO
				th.sortableHeader(style="text-align:right")
					input(type="checkbox" checked=includedCategories['so'] batting="0" category="so")
					span K
				th.sortableHeader(style="text-align:right")
					input(type="checkbox" checked=includedCategories['bb'] batting="0" category="bb")
					span BB
				th.sortableHeader(style="text-align:right")
					input(type="checkbox" checked=includedCategories['kPerNine'] batting="0" category="kPerNine")
					span K/9
				th.sortableHeader(style="text-align:right")
					input(type="checkbox" checked=includedCategories['kPerWalk'] batting="0" category="kPerWalk")
					span K/BB
				th.sortableHeader(style="text-align:right")
					input(type="checkbox" checked=includedCategories['whip'] batting="0" category="whip")
					span WHIP
				th.sortableHeader(style="text-align:right")
					input(type="checkbox" checked=includedCategories['era'] batting="0" category="era")
					span ERA
				th.sortableHeader(style="text-align:right")
					input(type="checkbox" checked=includedCategories['w'] batting="0" category="w")
					span W
				th.sortableHeader(style="text-align:right")
					input(type="checkbox" checked=includedCategories['qs'] batting="0" category="qs")
					span QS
				th.sortableHeader(style="text-align:right")
					input(type="checkbox" checked=includedCategories['sv'] batting="0" category="sv")
					span SV

			-each team in teamsWithPoints
				-if(team.teamId != 0)
					-var batting = team.stats.batting;
					-var pitching = team.stats.pitching;
					tr
						td
							mixin teamLink(teamHash[team.teamId], true)
						td.number= batting.ab
						td.number= batting.h
						td.number= batting.h2b
						td.number= batting.h3b
						td.number= batting.hr
						td.number= batting.r
						td.number= batting.rbi
						td.number= batting.sb
						td.number= batting.cs
						td.number= numeral(100 * batting.sbp).format("00.0")
						td.number= numeral(batting.obp).format(".0000")
						td.number= numeral(pitching.ip).format("0.00")
						td.number= pitching.er
						td.number= numeral(pitching.goao).format("0.00")
						td.number= pitching.so
						td.number= pitching.bb
						td.number= numeral(pitching.kPerNine).format("0.00")
						td.number= numeral(pitching.kPerWalk).format("0.00")
						td.number= numeral(pitching.whip).format("0.000")
						td.number= numeral(pitching.era).format("0.000")
						td.number= pitching.w
						td.number= pitching.qs
						td.number= pitching.sv
	div.widget
		h2 Points
		table.hoverable#points(style="width:100%")
			thead
				th.sortableHeader(style="text-align:left;width:25%")
					span Team
				-each category in includedCategories
					th.sortableHeader(style="text-align:right")
						-var catName = category.display
						span= catName.toUpperCase()
				th.sortableHeader(style="text-align:right")
					span Total
			tbody
				-each team in teamsWithPoints
					-if(team.teamId != 0)
						-var batting = team.stats.batting;
						-var pitching = team.stats.pitching;
						tr
							td
								mixin teamLink(teamHash[team.teamId], true)
							-each category in includedCategories
								-if(category.batting)
									td.number(title=team.stats.batting[category.id])= team.standingPoints[category.id]
								-else
									td.number(title=team.stats.pitching[category.id])= team.standingPoints[category.id]
							td.number= team.standingPoints.total