extends layout

block inlineScripts
	script.

		var hasItChanged = function(row, stat, _class) {
			var old = row.find('.' + _class).text();
			if(!old || old != stat) {
				row.find('.' + _class).text(stat);
				row.find('.' + _class).effect('highlight', { color : 'green' }, 1000)
			}
		}

		var getStats = function() {
			$.get("/stattracker/update/" + team.teamId, function(players) {
				players.forEach(function(p) {
					var stats = p.dailyStats;
					var row = $('[id^="player_' + p._id + '"]');
					if(stats) {
						hasItChanged(row, stats.ab, 'cat_ab');
						hasItChanged(row, stats.hr, 'cat_hr');
						hasItChanged(row, stats.rbi, 'cat_rbi');
						hasItChanged(row, stats.obp, 'cat_obp');
						hasItChanged(row, stats.r, 'cat_br');
						var pitcherR = stats.r + "/" + stats.er;
						hasItChanged(row, pitcherR, 'cat_pr');
						hasItChanged(row, stats.w, 'cat_w');
						hasItChanged(row, stats.sv, 'cat_sv');
						hasItChanged(row, stats.so, 'cat_so');
						hasItChanged(row, stats.s_ip, 'cat_ip');
						hasItChanged(row, stats.era, 'cat_era');
						stats.whip = (stats.h + stats.bb) / stats.s_ip;
						stats.whip = isFinite(stats.whip) ? numeral(stats.whip).format('0.00') : 0;
						hasItChanged(row, stats.whip, 'cat_whip');
						hasItChanged(row, stats.h2b, 'cat_h2b');
						hasItChanged(row, stats.h3b, 'cat_h3b');
						hasItChanged(row, stats.bb, 'cat_bb');
						hasItChanged(row, stats.hbp, 'cat_hbp');
						hasItChanged(row, stats.so, 'cat_so');
						var sacs = parseInt(stats.sac) + parseInt(stats.sf);
						hasItChanged(row, sacs, 'cat_sac');
						var sbs = stats.sb + "/" + stats.cs;
						hasItChanged(row, sbs, 'cat_sb');
						var goao = stats.go + "/" + stats.ao;
						hasItChanged(row, goao, 'cat_goao');
						hasItChanged(row, stats.np, 'cat_np');
						hasItChanged(row, stats.h, 'cat_h');
						hasItChanged(row, stats.whip, 'cat_whip');
					}
				});
			});
		}

		var getLinescore = function(gameday) {
			$.get("/StatTracker/linescore/" + gameday, function(linescore) {
				var gameText;
				if(linescore.inning) {
					gameText = linescore.away_name_abbrev + ": " + linescore.away_team_runs + " @ " 
						+ linescore.home_name_abbrev + ": " + linescore.home_team_runs + ", ";
				} else {
					gameText = linescore.away_name_abbrev + " @ " 
						+ linescore.home_name_abbrev + ", " + linescore.time;
				}
				if(linescore.inning_state) {
					gameText += linescore.inning_state + " " + linescore.inning;
				} else if(linescore.inning) {
					gameText += "Final";
				}
				$('[game="' + gameday + '"]').find('a').text(gameText);
				var batterId;
				if(linescore.current_batter) {
					batterId = linescore.current_batter.id;
					$('[player_id="' + batterId + '"]').effect('highlight', { color : 'green' }, 5000);
					$('[player_id="' + batterId + '"]').find('.playerNote').text('At Bat');
				}
				if(linescore.current_ondeck) {
					batterId = linescore.current_ondeck.id;
					$('[player_id="' + batterId + '"]').effect('highlight', { color : 'green' }, 5000);
					$('[player_id="' + batterId + '"]').find('.playerNote').text('On Deck');
				}
				if(linescore.current_inhole) {
					batterId = linescore.current_inhole.id;
					$('[player_id="' + batterId + '"]').effect('highlight', { color : 'green' }, 5000);
					$('[player_id="' + batterId + '"]').find('.playerNote').text('In the Hole');
				}
			});
		}

		$(document).ready(function() {
			getStats();
			setInterval(function() {
				getStats();
			}, 120000);

			games.forEach(function(g) {
				getLinescore(g.gameday);
			});
			setInterval(function() {
				$('.playerNote').text('');
				games.forEach(function(g) {
					getLinescore(g.gameday);
				});
			}, 10000);
		});

block content

	mixin batter(player, game)
		-if(game)
			td.cat_ab
			td.cat_h
			td.cat_h2b
			td.cat_h3b
			td.cat_hr
			td.cat_br
			td.cat_rbi
			td.cat_bb
			td.cat_hbp
			td.cat_so
			td.cat_sac
			td.cat_obp
			td.cat_sb
			td.cat_goao
		-else
			-var count = 0;
			-while(count < 14) {
				td
				-count++;
			-}

	mixin pitcher(player, game)
		-if(game)
			td.cat_ip
			td.cat_np
			td.cat_h
			td.cat_bb
			td.cat_hbp
			td.cat_whip
			td.cat_so
			td.cat_goao
			td.cat_hr
			td.cat_pr
			td.cat_era
			td.cat_w
			td.cat_sv
		-else
			-var count = 0;
			-while(count < 13) {
				td
				-count++;
			-}
	
	mixin miniPlayer(position, posText, minCount)
		-var count = 0;
		-minCount = minCount != undefined ? minCount : 1;
		-each player in players[position]
			-var game = undefined;
			-var game2 = undefined;
			-each g in games
				-if(player.team_id == g.awayTeamId || player.team_id == g.homeTeamId) {
					-if(game) {
						-game2 = g;
					-} else {
						-game = g;
					-}
				-}
			tr(id="player_" + player._id player_id=player.player_id)
				td(style="text-align:left")= posText
				td(style="text-align:left")= player.name_display_first_last
				-if(game)
					-var gameId = game2 ? game.gameday + ";" + game2.gameday : game.gameday;
					td(style="text-align:center" game=gameId)
						a(target="_blank" href="http://mlb.mlb.com/mlb/gameday/index.jsp?gid=" + game.gameday)
				-else
					td
				td.playerNote
				-if(player.primary_position != 1)
					mixin batter(player, game)
				-else
					mixin pitcher(player, game)
			-count++;
		-while(count < minCount) {
			tr
				td= posText
				td -
			-count++;
		-}

	div
		span#pageTitle StatTracker
	div.widget
		table.statsTable(id='players_' style="width:100%;border-collapse:collapse;" class="hoverable")
			thead
				th.position Position
				th.playerName(style="text-align:left;width:20%") Name
				th(style="text-align:left;width:15%") Game
				th
				th AB
				th H
				th 2B
				th 3B
				th HR
				th R
				th RBI
				th BB
				th HBP
				th K
				th SAC
				th OBP
				th SB/CS
				th GO/AO

			tbody
				mixin miniPlayer('catchers', 'C', 2)
				mixin miniPlayer('first_base', '1B')
				mixin miniPlayer('second_base', '2B')
				mixin miniPlayer('third_base', '3B')
				mixin miniPlayer('shortstop', 'SS')
				mixin miniPlayer('middle_infield', '2B/SS')
				mixin miniPlayer('corner_infield', '1B/3B')
				mixin miniPlayer('outfielders', 'OF', 5)
				mixin miniPlayer('utility', 'U')
				//mixin miniPlayer('dl', 'DL', 0)
				mixin miniPlayer('bench', 'BENCH', 0)
	div.widget
		table.statsTable(id='players_' style="width:100%;border-collapse:collapse;" class="hoverable")
			thead
				th.position Position
				th.playerName(style="text-align:left;width:20%") Name
				th(style="text-align:center;width:15%") Game
				th
				th.number IP
				th.number P
				th.number H
				th.number BB
				th.number HBP
				th.number WHIP
				th.number K
				th.number GO/AO
				th.number HR
				th.number R/ER
				th.number ERA
				th.number W
				th.number SV

			tbody
				mixin miniPlayer('pitchers', 'P', 9)

	| <script type="text/javascript" >
	| var team = !{JSON.stringify(team)};
	| var games = !{JSON.stringify(games)};
	| </script>