extends layout

block inlineScripts
	script.
		var needDailyStats = true;

		var validateForm = function(form) {
			var checkbox = $(form).parent().find('input:checked');
			if(checkbox.length == 1) {
				return true;
			} else {
				alert("You must select the player as a keeper before locking them up");
				return false;
			}
		}
		var changeTotal = function(checkbox) {
			var change = parseInt(checkbox.value);
			if(!checkbox.checked) {
				change *= -1;
			}
			var curBudget = parseInt($('#draftBudget').text().split(":")[1]);
			curBudget += (change * -1);
			if($('.player[minor_leaguer="true"]').find('input:checked').length > 10) {
				checkbox.checked = false;
				alert("Issue: You already have 10 or more minor leaguers. Please fix before continuing.");
			} else if($('.player[minor_leaguer="false"]').find('input:checked').length > 10) {
				checkbox.checked = false;
				alert("Issue: You already have 10 or more major league keepers. Please fix before continuing.");
			} else if(curBudget < 0) {
				checkbox.checked = false;
				alert("You may not exceed your own budget");
			} else {
				$('#draftBudget').text("2014 Draft Budget: " + curBudget);
			}
		};
		var saveChanges = function(teamId) {
			if($('.player[minor_leaguer="true"]').find('input:checked').length > 10) {
				alert("You cannot keep more than 10 minor leaguers. " + 
					"Deselect one or click 'Keep as major leaguer' to keep the player for a starting salary of 3 units");
				return;
			}
			if($('.player[minor_leaguer="false"]').find('input:checked').length > 10) {
				alert("You cannot keep more than 10 major leaguers. " +
					"Deselect one and try again");
				return;
			}
			var payload = { team: teamId, total : 0, keepers: [], nonkeepers: [] };
			payload.total = parseInt($('#draftBudget').text().split(":")[1]);
			var players = $('.player');
			for(var i = 0; i < players.length; i++) {
				var pid = players.eq(i).attr('player_id');
				if(players.eq(i).find("input[type=checkbox]:checked").length != 0) {
					payload.keepers.push(pid);
				} else {
					payload.nonkeepers.push(pid);
				}
			}
			console.log(payload);
			$.post("/gm/keeper", payload, function(result) {
				if(result == "worked") {
					alert('Your preferences have been saved');
				}
			});
		};

		function showInfo() {
			hideAllTabs();

			$('#showInfoButton').css('color','lightblue');

			$('.team').show();

			setTabCookie('1');
		}

		function showStats() {
			hideAllTabs();

			$('#showStatsButton').css('color','lightblue');

			$('.seasonStatsTable').show();

			setTabCookie('2');
		}

		function showDailyStats() {
			hideAllTabs();

			if(needDailyStats) {
				needDailyStats = false;
				$.get("/api/stats/update/daily/" + team.teamId, function(response) {
					$('.dailyStats').html(response.html);
				});
			}

			$('#showDailyStatsButton').css('color','lightblue');
			
			$('.dailyStats').show();

			setTabCookie('3');
		}

		function showActiveStats() {
			hideAllTabs();

			$('#showActiveStatsButton').css('color','lightblue');

			$('.activeStats').show();

			setTabCookie('4');
		}

		function hideAllTabs() {
			$('.showButton').css('color', 'white');
			$('.team').hide();
			$('.seasonStatsTable').hide();
			$('.dailyStats').hide();
			$('.activeStats').hide();
		}

		function setTabCookie(tab) {
			$.cookie('teamTab', tab, { expires: 1 });
		}

		$(function() {
			$('.dailyStats').html("<img src='/public/ajax-loader.gif' />");

			$('.activeStats').html("<img src='/public/ajax-loader.gif' />");
			$.get("/api/stats/activeTeam/" + team.teamId, function(response) {
				$('.activeStats').html(response.html);

				$('#batters_activeStats').tablesorter({
					sortInitialOrder: 'desc'
				});
				$('#pitchers_activeStats').tablesorter({
					sortInitialOrder: 'desc'
				});
			});

			var selection = $.cookie('teamTab');
			if(!selection || selection == 1) {
				showInfo();
			} else if(selection == 2) {
				showStats();
			} else if(selection == 3) {
				showDailyStats();
			} else if(selection == 4) {
				showActiveStats();
			}
		});

block content
	include tables/activeRoster
	include partials/draftPicks
	include partials/cash
	include partials/teamLink
	include tables/minorLeaguers
	include tables/seasonStats

	mixin vulture(array, header, isInbound)
		-if(array.length > 0)
			p= header
			table
				thead
					th Player
					-if(isInbound)
						th Vulturing Team
					-else
						th Player's Team
					-if(!isInbound)
						th Giving Up
					th Deadline
				tbody
					-each v in array
						tr
							td
								a.hiddenLink(href="/player/" + v._id)= v.name_display_first_last
							td
								-if(isInbound)
									mixin teamLink(teamHash[v.vulture.vulture_team], false)
								-else
									mixin teamLink(teamHash[v.history[0].fantasy_team], false)
							-if(!isInbound)
								td
									a.hiddenLink(href="/player/" + v.givingUpPlayer._id)= v.givingUpPlayer.name_display_first_last
							td= moment(v.vulture.deadline).calendar()

	section(id="top")
		div
			span#pageTitle= team.fullName
			span.unselectable(style="padding-left:10px")
				-if(owners.length > 1)
					span(title=owners[0].email)= owners[0].firstName + " " + owners[0].lastName
					span(title=owners[1].email)= ", " + owners[1].firstName + " " + owners[1].lastName
				-else
					= owners[0].firstName + " " + owners[0].lastName
			-if(user && user.team != team.teamId && (config.isTradingOn || user.role == 'admin'))
				span.unselectable(style="padding-left:20px;") |
				span(style="padding-left:20px")
					a.hiddenLink(href="/trade/" + team.teamId) Propose Trade
			span.unselectable(style="padding-left:20px") |
			span(style="padding-left:20px")
				a.hiddenLink(target="_blank" href="http://games.espn.go.com/flb/clubhouse?leagueId=216011&teamId=" + team.teamId + "&seasonId=2014")
					= "ESPN Team Page"
			span.unselectable(style="padding-left:20px;") |
			span(style="padding-left:20px")
				i
					span.unselectable Previous Rosters: 
					a.hiddenLink(style="padding-left:15px" href="/team/" + team.teamId + "/2013") 2013

	section(id="left" style="width:58%")
		-var nextYear = parseInt(config.year) + 1
		-var displayConfig = {};

		-displayConfig.showKeeperColumns = config.isKeeperPeriod;
		-displayConfig.showFutureSalary = config.isKeeperPeriod;
		-displayConfig.showStatus = !config.isKeeperPeriod && !config.isOffseason;
		-displayConfig.showDemoteButton = false;

		div.widget
			-if(config.isKeeperPeriod && config.isTeamOwner)
				h3= "Select your keepers from " + config.year + " roster"
				p#draftBudget(style="display:inline;font-size:20px;margin-right:40px")=nextYear + ' Draft Budget: ' + draftCash.value
				
				-if(config.isTeamOwner)
					input.saveChanges(style="line-height:50%" type="button" value="Save Keeper Selections" onclick="saveChanges('" + team.teamId + "')")

			p(style="margin-top:8px;")
				span(style="font-size:1.5em;font-weight:bold") Active Roster
				a.showButton#showInfoButton(onclick="showInfo()" style="padding-left:20px;cursor:pointer;display:inline") Player Info
				span.unselectable(style="padding-left:20px") |
				a.showButton#showStatsButton(onclick="showStats()" style="padding-left:20px;cursor:pointer") Season Stats
				span.unselectable(style="padding-left:20px") |
				a.showButton#showDailyStatsButton(onclick="showDailyStats()" style="padding-left:20px;cursor:pointer") Today's Stats
				span.unselectable(style="padding-left:20px") |
				a.showButton#showActiveStatsButton(onclick="showActiveStats()" style="padding-left:20px;cursor:pointer") Active Stats
			-if(!config.isKeeperPeriod || config.isTeamOwner)
				div.team
					mixin activeRoster(players, config, displayConfig)
				div.seasonStatsTable
					mixin seasonStats(players)
				div.dailyStats(style="display:none")
				div.activeStats(style="display:none")
			-else
				p= "Check back after the keeper deadline for " + nextYear + " roster"

		-if((in_vultures && in_vultures.length > 0) || (out_vultures && out_vultures.length > 0))
			div.widget
				h2 Vultures
				mixin vulture(in_vultures, "Vultures on " + team.fullName + "'s Players", true)
				mixin vulture(out_vultures, "Vultures made by " + team.fullName, false)

	section(id="right" style="width:42%")
		div.widget
			h2 Minor Leaguers
			mixin minorLeaguers(players, team, config, displayConfig)
			p
				i.smallNote * Vulture Threshhold: 150 AB / 50 IP

		div(style="width:50%;display:inline-block;vertical-align:top")
			div.widget
				h2 Finances
				mixin cash(team, cash, config)
		div(style="width:50%;display:inline-block;vertical-align:top")
			div.widget
				h2 Minor League Draft Picks
				mixin draftPicks(team, picks, teamHash)

	| <script type="text/javascript" >
	| var team = !{JSON.stringify(team)};
	| </script>