extends layout
block inlineScripts
	script.
		var changeTotal = function(checkbox) {
			var change = parseInt(checkbox.value);
			if(!checkbox.checked) {
				change *= -1;
			}
			var curTotal = parseInt($('#total').text().split(":")[1]);
			curTotal += change;
			$('#total').text("Total: " + curTotal);
		};

		var saveChanges = function() {
			var payload = { team: 'GOB', total : 0, keepers: [], nonkeepers: [] }
			payload.total = parseInt($('#total').text().split(":")[1]);

			var players = $('.player');
			for(var i = 0; i < players.length; i++) {
				var name = players.eq(i).find('td').eq(0).text();
				if(players.eq(i).find("input[type=checkbox]:checked").length != 0) {
					payload.keepers.push(name);
				} else {
					payload.nonkeepers.push(name);
				}
			}
			$.post("/services/keeper", payload, function(result) {
				if(result == "worked") {
					alert('Your preferences have been saved');
				}
			});
		};

block content
	h1= team.fullName
	h3#total 
		='Total: '
		=team.keeper2014Total
		
	h3#saveButton
		-if(user != null && user.team == team.team)
			input.saveChanges(type="button" value="Save Selections" onclick="saveChanges()")
			
	table
		thead
			th Name
			th Salary 2013
			th Salary 2014
			th Select as Keeper
		tbody
		-each pl in players
			tr.player
				td= pl.name_display_first_last
				-var salary2013 = '';
				-var salary2014 = '';
				-for(var i = 0; i < pl.history.length; i++) {
				-	if(pl.history[i].year == 2013) {
				-		salary2013 = pl.history[i].salary;
				-		if(pl.history[i].locked_up) {
				-			salary2014 = salary2013;
				-		}
				-	}
				-}
				-for(var i = 0; i < pl.history.length; i++) {
				-	if(pl.history[i].year == 2014) {
				-		if(pl.history[i].locked_up || pl.history[i].minor_leaguer) {
				-			salary2014 = salary2013;
				-		}
				-	}
				-}
				-if(salary2014 == '') {
				-	salary2014 = salary2013 + 3;
				-}
				td= salary2013
				td= salary2014
				td
					-var checked = pl.history[0].minor_leaguer;
					-var disabled = pl.history[0].minor_leaguer || pl.history[0].locked_up || user == null || user.team != team.team;
					input.keeperBox(type="checkbox" value=salary2014 onclick="changeTotal(this)" checked=checked disabled=disabled)
				-if(pl.history[0].locked_up)
					td Locked Up
				-if(pl.history[0].minor_leaguer)
					td Minor Leaguer
	
	
