extends layout

block inlineScripts

block content
	include partials/teamLink
	include partials/player
	include partials/team

	mixin vulture(array, header, isInbound)
		-if(array.length > 0)
			p= header
			table
				thead
					th Player
					-if(isInbound)
						th Vulturing Team
					-else
						th Player's Team
					th Deadline
				tbody
					-each v in array
						tr
							td= v.name_display_first_last
							-if(isInbound)
								td
									a(href="/team/" + v.vulture.vulture_team)= v.vulture.vulture_team
							-else
								td
									a(href="/team/" + v.history[0].fantasy_team)= v.history[0].fantasy_team
							td= moment(v.vulture.deadline).format('MMM Do YYYY, h:mm:ss a [EST]')
							-if(isInbound && user && user.team == team.team)
								td
									a(href="/gm/vulture/fix/" + v.player_id) Click to Fix

	section(id="top")
		div
			h1= team.fullName
			p= vulture_message

	section(id="left")
		div
			h2 Roster
			p(style="margin-right:10px") Previous rosters:
					a(href="/team/" + team.team + "/2013") 2013
			-if(user != null && user.team == team.team)
				a(href="/gm/keepers/" + team.team) Select Keepers
			-if((user != null && user.role == 'admin') || (isTradingOn && user != null && user.team != team.team))
				a(href="/gm/trade/propose/" + team.team) Trade
			-if(!isKeeperPeriod || (user != null && user.team == team.team))
				mixin team(players, true)
			-else
				p Check back after the keeper deadline for 2014 roster

			-if(isTradingOn)
				h2 Trades
				-each trade in inTrades
					a(href="/gm/trade/" + trade._id)= "From " + trade.from.team
					-each player in trade.from.players
						a= player

					-each player in trade.to.players
						a= player
					br
				-each trade in outTrades
					a(href="/gm/trade/" + trade._id)= "Proposed to " + trade.to.team
					-for(var i = 0; i < trade.to.players.length; i++) {
						a(href="/admin/player/" + trade.to.players[i])= trade.to.player_names[i]
					- }

					-for(var i = 0; i < trade.from.players.length; i++) {
						a(href="/admin/player/" + trade.from.players[i])= trade.from.player_names[i]
					- }
					br

	section(id="right")
		div
			-if((in_vultures && in_vultures.length > 0) || (out_vultures && out_vultures.length > 0))
				h2 Vultures
				mixin vulture(in_vultures, "Vultures on " + team.team + "'s Players", true)
				mixin vulture(out_vultures, "Vultures made by " + team.team, false)

		div
			h2 Finances
			table(id='finances_' + team.team)
				thead
					th(style="width:50px") Year
					th(style="width:80px") Type
					th Value
				tbody
					-var count = 0;
					-each c in cash
						tr
							-if(count % 2 == 0)
								td(rowspan="2" style="padding-left:12px")
									= c.year
									-count++;
							-else
								-count++;
							td
								= c.type
							td.number
								= c.value

		div
			h2 Minor League Draft Picks
			table(id='picks_' + team.team)
				thead
					th Year
					th Round
					th Overall
				tbody
					-each p in picks
						tr
							td(style="text-align:right")= p.year
							td(style="text-align:right")= p.round
							td(style="text-align:right")
								-if(p.overall != '')
									= p.overall
								-else
									"-"
							-if(p.original_team != p.team)
								td
									= "From " 
									mixin teamLink(teamHash[p.original_team], false)
							-if(p.swappable && p.swapper != team.team)
								td
									= " "
									mixin teamLink(teamHash[p.swapper], false)
									= " can choose to swap"
							-if(p.swappable && p.swapper == team.team)
								td
									= "Can swap with "
									mixin teamLink(teamHash[p.swap_team], false)