extends layout

block inlineScripts
	script.

block content
	include partials/teamLink

	mixin trade(trade)
		tr.tradeRow
			td= moment(trade.deadline).calendar()
			td(style="text-align:center")
				mixin teamLink(teamHash[trade.proposedBy], false)
			td(style="text-align:center")
				mixin teamLink(teamHash[trade.proposedBy], true) 
				= " Receives:"
				ul
					-each item in trade.items
						-if(item.to == trade.proposedBy)
							li
								-if(item.itemType == 'PLAYER')
									a(href="/player/" + item.player_id)= item.itemText
								-else
									= item.itemText
			td(style="text-align:center")
				mixin teamLink(teamHash[trade.proposedTo], true) 
				= " Receives:"
				ul
					-each item in trade.items
						-if(item.to == trade.proposedTo)
							li
								-if(item.itemType == 'PLAYER')
									a(href="/player/" + item.player_id)= item.itemText
								-else
									= item.itemText

			-if(trade.status == 'PROPOSED')
				-if(user.team == trade.proposedTo)
					td
						form(method="POST" action="/trade/accept" onsubmit="return confirm('You are about to ACCEPT this trade. Proceed?')")
							input(type="hidden" name="tradeId" value=trade._id)
							input(type="submit" value="Accept Trade")

					td
						form(method="POST" action="/trade/decline" onsubmit="return confirm('You are about to DECLINE this trade. Proceed?')")
							input(type="hidden" name="tradeId" value=trade._id)
							input(type="submit" value="Decline Trade")
				-else
					td
						form(method="POST" action="/trade/cancel" onsubmit="return confirm('You are about to CANCEL this trade. Proceed?')")
							input(type="hidden" name="tradeId" value=trade._id)
							input(type="submit" value="Cancel Trade")

	section(id="top")
		
		span#pageTitle Trades

		div.widget
			h2 Propose a New Trade
			table
				tr
					td
						a.hiddenLink(href="/trade/" + teams[1].teamId)= teams[1].fullName
					td
						a.hiddenLink(href="/trade/" + teams[2].teamId)= teams[2].fullName
					td
						a.hiddenLink(href="/trade/" + teams[3].teamId)= teams[3].fullName
					td
						a.hiddenLink(href="/trade/" + teams[4].teamId)= teams[4].fullName
					td
						a.hiddenLink(href="/trade/" + teams[5].teamId)= teams[5].fullName
					td
						a.hiddenLink(href="/trade/" + teams[6].teamId)= teams[6].fullName
				tr
					td
						a.hiddenLink(href="/trade/" + teams[7].teamId)= teams[7].fullName
					td
						a.hiddenLink(href="/trade/" + teams[8].teamId)= teams[8].fullName
					td
						a.hiddenLink(href="/trade/" + teams[9].teamId)= teams[9].fullName
					td
						a.hiddenLink(href="/trade/" + teams[10].teamId)= teams[10].fullName
					td
						a.hiddenLink(href="/trade/" + teams[11].teamId)= teams[11].fullName
					td
						a.hiddenLink(href="/trade/" + teams[12].teamId)= teams[12].fullName

		div.widget
			h2 Proposed Trades
			-var proposedTrades = tradeModel.getTradesByStatus(trades, 'PROPOSED');
			-if(proposedTrades.length > 0)
				table(class="hoverable")
					thead
						th Deadline
						th Proposed By
						th
						th
					tbody
						-each t in proposedTrades
							mixin trade(t)
			-else
				p You have no proposed trades

	section(id="left" style="width:100%;")
		div(style="width:50%;display:inline-block;vertical-align:top")
			div.widget
				h2 Declined Trades
				-var rejectedTrades = tradeModel.getTradesByStatus(trades, 'DECLINED');
				-if(rejectedTrades.length > 0)
					table(class="hoverable")
						thead
							th Deadline
							th Proposed By
							th
							th
						tbody
							-each t in rejectedTrades
								mixin trade(t)
				-else
					p You have no rejected trades

		div(style="width:50%;display:inline-block;vertical-align:top")
			div.widget
				h2 Expired Trades
				-var expiredTrades = tradeModel.getTradesByStatus(trades, 'EXPIRED');
				-if(expiredTrades.length > 0)
					table(class="hoverable")
						thead
							th Deadline
							th Proposed By
							th
							th
						tbody
							-each t in expiredTrades
								mixin trade(t)
				-else
					p You have no expired trades