extends layout
block inlineScripts
	script.
		// $(function() {
		// 	$('tr').draggable();
		// });
		// var getTradeObjects = function(select) {
		// 	var team = $(select).val();
		// 	$.post("/gm/trade/objects/" + team, func
		// 			success : function(data) {
		// 				$('#toPicks').children().remove();
		// 				$('#toPicksHeader').text(data.team + ' Picks');
		// 				$('.hidden').css('display','inline-block');
		// 				data.picks.forEach(function(pick) {
		// 					$('#toPicks').append(
		// 						"<tr><td>" + pick.year + "</td><td>" + pick.round + "</td></tr>"
		// 					);
		// 				});
		// 			}
		// 		}
		// 	);
		// }

block content
	include partials/draftPicks
	include partials/cash

	mixin pick(pick)
		tr
			td= pick.original_team
			td= pick.year
			td= pick.round

	section(id="top")
		h1 Trade

		-if(!to)
			p Select a Team
			select(name="teams" onchange='getTradeObjects(this)')
				option(name="" value="")
				-each team in teams
					option(value=team.team)= team.team

	section(id="left" style="width:900px")
		div(style="display:inline-block")
			div
				h3= from.team + " Picks"
				mixin draftPicks(from.team, from.picks, teamHash)

			div
				h3= from.team + " Cash"
				mixin cash(from.team, from.cash)
		div(style="display:inline-block;vertical-align:top")
			div
				h3(id="toPicksHeader")= to.team + " Picks"
				mixin draftPicks(to.team, to.picks, teamHash)
			div
				h3= to.team + " Cash"
				mixin cash(to.team, to.cash)

	section(id="right")

