extends layout

block inlineScripts
	script.

		var rowCount = { from : 0, to : 0 }
		var pickCount = { from : 0, to : 0 }

		var addMoney = function(button, direction, cash) {
			var newRow = $("#dummy_cash_row").clone();
			newRow.css('visibility','visible');
			var rowId = direction + "_cash_" + rowCount[direction];
			newRow.attr('id', rowId);
			newRow.children().eq(0).attr("name", rowId + "_type");
			newRow.children().eq(0).attr("value", cash.type);
			newRow.children().eq(1).attr("name", rowId + "_value");
			newRow.children().eq(1).attr("value", $(button).siblings().eq(0).val());
			newRow.children().eq(2).attr("name", rowId + "_year");
			newRow.children().eq(2).attr("value", cash.year);
			newRow.children().eq(3).text(cash.year + " " + cash.type + " " + $(button).siblings().eq(0).val());
			$("#trade_" + direction).append(newRow);
			rowCount[direction] = rowCount[direction] + 1;
		};
		
		var addPick = function(button, direction, pick) {
			var newPick = $("#dummy_pick_row").clone();
			newPick.css('visibility','visible');
			var pickId = direction + "_pick_" + pickCount[direction];
			newPick.attr('id', pickId);
			newPick.children().eq(0).attr("name", pickId + "_year");
			newPick.children().eq(0).attr("value", pick.year);
			newPick.children().eq(1).attr("name", pickId + "_round");
			newPick.children().eq(1).attr("value", pick.round);
			newPick.children().eq(2).attr("name", pickId + "_team");
			newPick.children().eq(2).attr("value", pick.team);
			newPick.children().eq(3).attr("name", pickId + "_swap");
			newPick.children().eq(3).attr("value", $(button).siblings().eq(0).is(':checked'));
			newPick.children().eq(4).text(pick.year + "/" + pick.round + "/" + pick.team);
			$("#trade_" + direction).append(newPick);
			pickCount[direction] = pickCount[direction] + 1;
		};

block content
	include partials/teamLink

	h2= message

	h1 Make a trade

	mixin cash(array, direction)
		-each cash in array
			p
				= cash.year + " " + cash.type + " : " + cash.value
				input(type="number" name="value" min="0" max=cash.value)
				input(type="button" onclick="addMoney(this, '" + direction + "', " + JSON.stringify(cash) + ")" value="Add Cash")

	mixin picks(array, direction)
		p= "Year/Round/Team"
		-each pick in array
			p
				= pick.year + "/" + pick.round + "/" + pick.original_team
				input(type="button" onclick="addPick(this, '" + direction + "', " + JSON.stringify(pick) + ")" value="Add Pick")		
				| Swap?
				input(type="checkbox")

	div
		table
			tr
				td
					mixin teamLink(from_team, true)
					mixin cash(from_cash, 'from')
					mixin picks(from_picks, 'from')
				td
					mixin teamLink(to_team, true)
					mixin cash(to_cash, 'to')
					mixin picks(to_picks, 'to')
				td
					form(action="/gm/trade", method="POST")
						input(type="hidden" name="from_team" value=from_team.team)
						input(type="hidden" name="to_team" value=to_team.team)
						p= from_team.team + " Sends"
						div(id="trade_from")
						p= to_team.team + " Sends"
						div(id="trade_to")
						br
						input(type="submit" value="Submit")

	div(id="dummy_pick_row" style="visibility:hidden")
		input(type="hidden" name="year")
		input(type="hidden" name="round")
		input(type="hidden" name="team")
		input(type="hidden" name="swap")
		p(id="pick_text")

	div(id="dummy_cash_row" style="visibility:hidden")
		input(type="hidden" name="type")
		input(type="hidden" name="value")
		input(Type="hidden" name="year")
		p(id="cash_text")