extends layout
block inlineScripts
	script.
		var removeRow = function(elem) {
			$(event.target).parent().parent().remove()
		};

		var addYear = function(team) {
			$('<tr><td><a id="ari" onclick="javascript:removeRow();">Remove</a><td><input type="text"/></td><td></td><td></td></tr>').appendTo($('#' + team + 'Cash').find('tbody'))
		};

		var submitTrade = function() {
			var fromTeam = $('.players').eq(0).attr('team')
			var toTeam = $('.players').eq(1).attr('team')
			var fromTeamPlayers = [];
			var fromTeamAssets = [];
			var fromTeamPlayerNames = [];
			var toTeamPlayers = []; 
			var toTeamAssets = [];
			var toTeamPlayerNames = [];
			$('.players').eq(0).find('tr').has(':checkbox:checked')
				.each(function(index, obj) { 
					fromTeamPlayers.push($(obj).attr('player_id')); 
					fromTeamPlayerNames.push($(obj).find('td').eq(1).text());
				});
			$('.players').eq(1).find('tr').has(':checkbox:checked')
				.each(function(index, obj) { 
					toTeamPlayers.push($(obj).attr('player_id')); 
					toTeamPlayerNames.push($(obj).find('td').eq(1).text());
				});
			var payload = {
				from: {
					team: fromTeam,
					players: fromTeamPlayers,
					assets: fromTeamAssets,
					player_names: fromTeamPlayerNames
				},
				to: {
					team: toTeam,
					players: toTeamPlayers,
					assets: toTeamAssets,
					player_names: toTeamPlayerNames
				}
			};
			$.post("/gm/trade", payload, function(result) {
				alert('got em');
			});
		};

block content
	mixin player(player, position, properties)
		-if(player != undefined)
			tr(player_id=player.player_id draggable="true")
				td
					-if(player.history[player.history_index].minor_leaguer)
						| Minor Leaguer 
					-else
						-if(player.history_index == 0)
							= player.fantasy_position
						-else
							= player.history[player.history_index].fantasy_position
				td
					= player.name_display_first_last
				td
					input(
						type="checkbox"
						value=nextYearSalary
						)
		-else
			tr
				td= position
				td -
				td

	mixin cash(team, allCash)
		p Cash
		table
			thead
				th Year
				th Type
			tbody
				-each cash in allCash
					tr
						td
							= cash.year
						td
							= cash.type
						td
							= cash.value	
						td
							input(
								id=team.team + "_" + cash.type + "_" + cash.year
								type="number" 
								min="1" 
								max=cash.value)	
		a(id="addYear" href="javascript:addYear('" + team.team + "')") Add Year 

	mixin team(team, players)
		p= team.fullName
		p Players
		table(class="players" team=team.team)
			thead
				th Position
				th Name
				//th Salary
				//th Contract Year
				th Select
			tbody
				mixin player(players.catchers[0], 'C')
				mixin player(players.catchers[1], 'C')
				mixin player(players.first_base, '1B')
				mixin player(players.second_base, '2B')
				mixin player(players.third_base, '3B')
				mixin player(players.shortstop, 'SS')
				mixin player(players.middle_infield, '2B/SS')
				mixin player(players.corner_infield, '1B/3B')
				mixin player(players.outfielders[0], 'OF')
				mixin player(players.outfielders[1], 'OF')
				mixin player(players.outfielders[2], 'OF')
				mixin player(players.outfielders[3], 'OF')
				mixin player(players.outfielders[4], 'OF')
				mixin player(players.utility, 'U')
				mixin player(players.pitchers[0], 'P')
				mixin player(players.pitchers[1], 'P')
				mixin player(players.pitchers[2], 'P')
				mixin player(players.pitchers[3], 'P')
				mixin player(players.pitchers[4], 'P')
				mixin player(players.pitchers[5], 'P')
				mixin player(players.pitchers[6], 'P')
				mixin player(players.pitchers[7], 'P')
				mixin player(players.pitchers[8], 'P')
				-if(players.dl != undefined)
					-for(var i = 0; i < players.dl.length; i++)
						mixin player(players.dl[i], 'DL')
				-if(players.minor_leaguers != undefined)
					-for(var i = 0; i < players.minor_leaguers.length; i++)
						mixin player(players.minor_leaguers[i], 'ML')

	div
		input(type="submit" onclick="submitTrade()" value="Submit Trade")
		div(id="selected_players" style="width:600px;height:100px")
		div
			div(style="float:left")
				mixin team(from_team, from_players)
			div(style="float:left")
				mixin team(to_team, to_players)
		div
			div(id=from_team.team + "Cash" style="float:left")
				mixin cash(from_team, from_cash)
			div(id=to_team.team + "Cash" style="float:left")
				mixin cash(to_team, to_cash)