extends layout

block inlineScripts
	script.

block content
	include partials/teamLink

	section(id="top")
		div
			p= message
			h1 Trades

	section(id="left" style="width:90%")

		mixin tradeItem(c)
			-if(c.itemType == 'CASH')
				= "$" + c.amount + " of " + c.year + " " + c.cashType + " cash"
			-else
				= teamHash[c.originalTeam].team + "'s round " + c.round + " pick in " + c.year + " Minor League Draft"

		mixin trade(trade)
			tr.tradeRow
				td= moment(trade.deadline).calendar()
				td
					mixin teamLink(teamHash[trade.proposedBy], false)
				td
					table(style="text-align:center;width:100%")
						thead
							th(style="border-bottom:0px")
								mixin teamLink(teamHash[trade.proposedBy], true)
								= " Receives:"
						tbody
							-each item in trade.items
								-if(item.to == trade.proposedBy)
									tr
										td
											mixin tradeItem(item)
				td
					table(style="text-align:center;width:100%")
						thead
							th(style="border-bottom:0px")
								mixin teamLink(teamHash[trade.proposedTo], true)
								= " Receives:"
						tbody
							-each item in trade.items
								-if(item.to == trade.proposedTo)
									tr
										td
											mixin tradeItem(item)
				-if(user.team == trade.proposedTo)
					td
						form(method="POST" action="/trade/accept" onsubmit="return confirm('You are about to ACCEPT this trade. Proceed?')")
							input(type="hidden" name="tradeId" value=trade._id)
							input(type="submit" value="Accept Trade")

					td
						form(method="POST" action="/trade/decline" onsubmit="return confirm('You are about to DECLINE this trade. Proceed?')")
							input(type="hidden" name="tradeId" value=trade._id)
							input(type="submit" value="Decline Trade")
				-else
					td
						form(method="POST" action="/trade/cancel" onsubmit="return confirm('You are about to CANCEL this trade. Proceed?')")
							input(type="hidden" name="tradeId" value=trade._id)
							input(type="submit" value="Cancel Trade")

		div
			h3 Proposed Trades
			-if(trades.length > 0)
				table
					thead
						th Deadline
						th Proposed By
						th
						th
					tbody
						-each t in trades
							mixin trade(t)
			-else
				p You have no proposed trades