extends layout

block inlineScripts
	script.
		var socket;

		$(function() {
			socket = io.connect('/');
			socket.emit('join', user);

			socket.on('message', function(data) {
				var player = data.player;
				var message = data.message;
				$("#fixMessages").append("<tr><td>" + message + "</tr></td>");
			});
		});

		var fix = function(_id, playerName) {
			$("#fixMessages").append("<tr><td>Checking status on " + playerName + "</tr></td>");
			$.post('/gm/vulture/fix/' + _id);
		}

		var end = function(_id) {
			var payload = { vultureId : _id };
			$.post('/gm/vulture/end', payload, function(data) {
				console.log('data');
			});
		}

block content
	include partials/teamLink

	| <script type='text/javascript'>
	|	var user = {};
	=	"user.user='" + user.team + "';"
	| </script>

	mixin vulturePlayerTable(players, isUsersPlayer, defaultMessage)
		-if(players.length == 0)
			p= defaultMessage
		-else
			table.hoverable
				thead
					th Name
					th Team
					th.small ML Status
					th.small Fantasy Status
				tbody
					-each player in players
						tr
							td
								a.hiddenLink(href="/player/" + player._id)= player.name_display_first_last
							td
								mixin teamLink(teamHash[player.history[0].fantasy_team], false)
							td.status= player.status_code
							td.status= player.fantasy_status_code
							-if(isUsersPlayer)
								td
									input(type="button" value="Click to Fix" 
										onclick="fix('" + player._id + "','" + player.name_display_first_last +"')")
							-else
								td
									form(method="GET" action="/gm/vulture/" + player._id)
										input(type="submit" value="Vulture")

	span#pageTitle Vultures

	-if(!isVultureOn)
		div.widget
			section(id="top")
				h2 Vulture
				h3 Come back after the start of the season to see vultures.
	-else
		section(id="top")
			div.widget
				h2 Open Vultures
				-if(openVultures.length == 0)
					p You have no open vultures
				-else
					table
						thead
							th Name
							th Team
							th Vulturing Team
							th Major League Status
							th Fantasy Status
							th Deadline
						tbody
							-each player in openVultures
									tr
										td(style="min-width:150px")
											a.hiddenLink(href="/player/" + player._id)= player.name_display_first_last
										td.team
											mixin teamLink(teamHash[player.history[0].fantasy_team], false)
										td.team
											mixin teamLink(teamHash[player.vulture.vulture_team], false)
										td.status= player.status_code
										td.status= player.fantasy_status_code
										td= moment(player.vulture.deadline).calendar()
										-if(player.history[0].fantasy_team == user.team)
											td
												input(type="button" value="Click to Fix" 
													onclick="fix('" + player._id + "','" + player.name_display_first_last +"')")
										-if(moment() > moment(player.vulture.deadline))
											td
												input(type="button" value="End Vulture" onclick="end('" + player._id + "')")
									tr(id="player_" + player._id + "_message")
		section(id="left" style="width:60%")
			div.widget
				-if(user)
					div(style="display:inline-block;vertical-align:top")
						h2 Your Vulturable Players
						mixin vulturePlayerTable(userVulturablePlayers, true, "You have no vulturable players")
											
					div(style="display:inline-block;vertical-align:top")
						table#fixMessages

		section(id="right" style="width:40%")
			div.widget
				h2 Leaguewide Vulturable Players
				mixin vulturePlayerTable(leagueVulturablePlayers, false, "There are no vulturable players")