mixin vulture(player, displayConfig)
	-if(player)
		-var isVultured = player.isVultured;
		-var vulturable = player.vulturable;
		-if(vulturable || isVultured)
			-var vulture_string = isVultured ? "Vultured" : "Vulturable";
			-if(user)
				-if(user.team != team.team)
					td
						-if(vulturable)
							a(href="/gm/vulture")= vulture_string
						-else
							=vulture_string
				-else
					td
						a.smallNote(href="/gm/vulture")= vulture_string
			-else
				td= vulture_string
		-if(displayConfig.addVultureButton)
			td
				-var disabled = player.vulture && (player.vulture.is_vultured || player.vulture.vultured_for_id)
				input(type="radio" name="removingPlayer" value=player._id disabled=disabled 
					onclick="selectVultureGiveUp('" + player.name_display_first_last + "')")
				-if(player.vulture)
					-if(player.vulture.is_vultured)
						td.smallNote
							= "Player is currently being vultured"
					-if(player.vulture.vultured_for_id)
						td.smallNote
							= "Player is being used in a vulture"
